{% extends "got/base/base_generic.html" %}
{% block headtag %}
<style>

    /* Contenedor Principal */
    .container {
        background-color: #E5E5EA;
        padding: 20px;
        border: 2px solid #191645; /* Contorno fino y notable */
        border-radius: 10px;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    }

    /* Estilos personalizados para ajustar los campos */
    .observaciones-textarea {
        resize: vertical;
        height: 100px;
    }
    .evidencias-input {
        width: 200px;
    }
    /* Centrar contenido en la columna de 'Realizado' */
    .realizado-checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 100%; */
    }

    .table {
        border-collapse: collapse;
    }

    .table thead tr th {
        background-color: #191645;
        color: white;
        text-align: center;
    }

    .table td {
        background-color: #E5E5EA;
    }

    .table tr {
        background-color: #E5E5EA;
        border: 1px solid #191645;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/5.0.2/signature_pad.umd.min.js"></script>
{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1>Reporte de Rutina {{ ruta.name }}</h1>
    <hr>

    <form method="post" enctype="multipart/form-data" id="ruta-form">{% csrf_token %}
        <label for="fecha">Fecha de ejecución:</label>
        <input type="date" name="fecha" id="fecha" class="form-control" value="{{ fecha_seleccionada }}" required>

        <br>
        <h3 class="mt-4">Actividades de rutina {{ ruta.name }}</h3>

        <table class="table-list table-detail">
            <thead>
                <tr>
                    <th>Actividad</th>
                    <th>Realizado</th>
                    <th>Observaciones</th>
                    <th>Evidencias</th>
                </tr>
            </thead>
            <tbody>
                {% for item in formset_data %}
                    {% if not item.dependencia %}
                        <tr>
                            <td>{{ item.task.description }}</td>
                            <td class="realizado-checkbox">
                                <input type="checkbox" name="realizado_{{ item.task.id }}" class="form-check-input" style="width: 20px; height: 20px;">
                            </td>
                            <td>
                                <textarea name="observaciones_{{ item.task.id }}" class="form-control observaciones-textarea" placeholder="Añadir observaciones..."></textarea>
                            </td>
                            <td>
                                <input type="file" name="evidencias_{{ item.task.id }}" class="form-control evidencias-input" multiple>
                            </td>
                            <input type="hidden" name="user_{{ item.task.id }}" value="{{ item.task.responsible.get_full_name }}">
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <br>
        {% for dependencia in dependencias %}
            <h3 class="mt-4">Actividades rutina secundaria {{ dependencia.name }}</h3>
            <table class="table-list table-detail">
                <thead>
                    <tr>
                        <th>Actividad</th>
                        <th>Realizado</th>
                        <th>Observaciones</th>
                        <th>Evidencias</th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for item in formset_data %}
                        {% if item.dependencia == dependencia.name %}
                            <tr>
                                <td>{{ item.task.description }}</td>
                                <td class="realizado-checkbox">
                                    <input type="checkbox" name="realizado_{{ item.task.id }}" class="form-check-input" style="width: 20px; height: 20px;">
                                </td>
                                <td>
                                    <textarea name="observaciones_{{ item.task.id }}" class="form-control observaciones-textarea" placeholder="Añadir observaciones..."></textarea>
                                </td>
                                <td>
                                    <input type="file" name="evidencias_{{ item.task.id }}" class="form-control evidencias-input" multiple>
                                </td>
                                <input type="hidden" name="user_{{ item.task.id }}" value="{{ item.task.responsible.get_full_name }}">
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    
        <br>
        <div class="form-group mt-4">
            <label for="signature-image">Subir imagen de la firma (opcional):</label>
            <input type="file" id="signature-image" name="signature_image" accept="image/*" class="form-control">
    
            <hr>
            <label for="signature">Firma del receptor</label>
            <canvas id="signature-pad" class="signature-pad" width=500 height=200 style="border: 0.2px solid #000;"></canvas>
            <input type="hidden" name="signature" id="signature">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        var canvas = document.getElementById('signature-pad');
        var signaturePad = new SignaturePad(canvas, {backgroundColor: 'rgb(255, 255, 255)'});
        var form = document.getElementById('ruta-form');

        form.addEventListener('submit', function(event) {
            var signatureImage = document.getElementById('signature-image').files[0];

            // Si no se subió una imagen y no se dibujó la firma, prevenir el envío
            if (!signatureImage && signaturePad.isEmpty()) {
                alert("Por favor, proporciona una firma o sube una imagen de la firma.");
                event.preventDefault();
            } else if (!signatureImage && !signaturePad.isEmpty()) {
                // Si no se ha subido una imagen pero se dibujó la firma, guardar el dibujo
                var dataURL = signaturePad.toDataURL("image/png");
                document.getElementById('signature').value = dataURL;
            }
        });
    });
</script>
{% endblock %}

