{% extends "got/base/pdf_template.html" %}
{% load my_tags %}

{% block title %}LISTADO DE ACTIVIDADES PROGRAMADAS{% endblock %}
{% block doc_info %}
    <th>CODIGO: </th>
    <th>VERSION 001</th>
    <th>FECHA DE ACTUALIZACION:</th>
{% endblock %}
{% block content %}

<br>
<br>

{{start}} - {{end}}
<br>
<hr>

{% regroup tasks by ot.system.asset as tasks_by_asset %}

{% for asset_group in tasks_by_asset %}

    <!-- Subtítulo con la información del activo -->
    <h2>{{ asset_group.grouper.name }} ({{ asset_group.grouper.abbreviation }})</h2>

    {% regroup asset_group.list by ot as tasks_by_ot %}
    {% for ot_group in tasks_by_ot %}
        <h3>OT-{{ ot_group.grouper.num_ot }}: {{ ot_group.grouper.description }}</h3>
        {% for task in ot_group.list %}
            <ul>
                <li><strong>Actividad:</strong> {{ task.description }}</li>
                <li><strong>Responsable:</strong> {{ task.responsible.first_name }} {{ task.responsible.last_name }}</li>
                <li><strong>Tiempo de ejecución:</strong> {{ task.start_date|date:"d/m/Y" }} - {{ task.final_date|date:"d/m/Y" }}</li>
                <li><strong>Novedades:</strong> {{ task.news }}</li>
            </ul>
            {% if task.images.all %}
                {% for img in task.images.all %}
                    <img src="{{ img.image.url }}" alt="Imagen de la actividad" style="width: 200px;">
                {% endfor %}
            {% endif %}
            <br>
        {% endfor %}
    {% endfor %}
{% endfor %}
{% endblock %}