{% extends "got/base/pdf_template.html" %}
{% load my_tags %}

{% block title %}LISTADO DE ACTIVIDADES PROGRAMADAS{% endblock %}
{% block doc_info %}
    <th>CODIGO: </th>
    <th>VERSION 001</th>
    <th>FECHA DE ACTUALIZACION:</th>
{% endblock %}
{% block content %}

{% for act in tasks %}
<ul>
    <li>OT-{{ act.ot }}</li>
    <li><strong>Equipo: </strong>{{ act.ot.system.asset }}/{{ act.ot.system.name }}</li>
    <li><strong>Actividad: </strong>{{ act.description }}</li>
    <li><strong>Responsable: </strong>{{ act.responsible.first_name }} {{ act.responsible.last_name }}</li>
    <li>{{ act.start_date|date:"d/m/Y" }} - {{ act.final_date|date:"d/m/Y" }}</li>
</ul>
<hr>
{% endfor %}
{% endblock %}