{% extends "got/base/base_detail.html" %}
{% load my_tags %}

{% block headtag %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/5.0.2/signature_pad.umd.min.js"></script>
{% endblock %}

{% block content %}
	<main class="ot-detail">

        <div class="title">
            <h1>
                {% if perms.got.view_ot %}
                    <a href="{% url 'got:ot-list' %}?asset_id={{ ot.system.asset.abbreviation }}">
                        <i class="bi bi-arrow-90deg-left add-more"></i>
                    </a>
                {% endif %}
                <a href="{% url 'got:asset-detail' ot.system.asset.abbreviation %}">{{ ot.system.asset }}/</a>
                Orden de trabajo #{{ ot.num_ot }}
            </h1>
        </div>
        
        <div class="ot-deta">
            <aside>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Reporte
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'got:report' ot.num_ot %}?download=1" class="dropdown-item">Descargar PDF</a>
                        </li>
                        <li>
                            <a href="{% url 'got:report' ot.num_ot %}" target="_blank" class="dropdown-item">Ver PDF</a>
                        </li>
                    </ul>
                </div>
                {% if perms.got.change_ot %}
                    <div class="btn-group" role="group">
                        <a href="{% url 'got:ot-update' ot.num_ot %}" class="btn btn-primary">Editar</a>
                    </div>
                {% endif %}
                {% if perms.got.delete_ot %}
                    <div class="btn-group" role="group">
                        <a href="{% url 'got:ot-delete' ot.num_ot %}" class="btn btn-danger submit-button {% if has_activities %}disabled{% endif %}">Eliminar</a>
                    </div>
                {% endif %}
                {% if ot.state == 'x' %} 
                <div class="btn-group" role="group">
                    <a href="{% url 'got:create-solicitud-ot' ot.system.asset.abbreviation ot.num_ot %}" class="btn btn-primary">Nueva solicitud</a>
                </div>
                {% endif %}
                {% if ot.task_set.all and all_tasks_finished and ot.state == 'x' %} 
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#finishOtModal">
                            Finalizar OT
                        </button>
                    </div>
                {% endif %}
            </aside>
            
            <table class="table-list table-detail mt-2">
                <thead>
                    <tr>
                        <th colspan="2">Información general</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Descripción</th>
                        <td>{{ot.description}}</td>
                    </tr>
                    <tr>
                        <th>Creación</th>
                        <td>{{ot.creation_date}}</td>
                    </tr>
                    <tr>
                        <th>Supervisor</th>
                        <td>{{ot.supervisor}}</td>
                    </tr>
                    <tr>
                        <th>Sistema</th>
                        <td>{{ot.system}}</td>
                    </tr>
                    <tr>
                        <th>Estado</th>
                        <td>{{ot.get_state_display}}</td>
                    </tr>
                    <tr>
                        <th>Mantenimiento</th>
                        <td>{{ot.get_tipo_mtto_display}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table-list table-detail">
                <thead>
                    <tr>
                        <th>Documentos</th>
                        <th>
                            <button class="dropdown-item" class="add-sys" type="button" data-bs-toggle="modal" data-bs-target="#new_doc">
                                <i class="bi bi-plus-circle add-sys"></i>Añadir
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for doc in ot.documents.all %}
                        <tr>
                            <td>
                                {{doc.description}}
                            </td>
                            <td>
                                <a href="{{ doc.file.url }}" target="_blank">Abrir</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">No hay informes disponibles</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="modal fade" id="new_doc" tabindex="-1" aria-labelledby="docLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="docLabel">Añadir documento: </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="{% url 'got:ot-detail' ot.num_ot %}" enctype="multipart/form-data">{% csrf_token %}
                                {{ doc_form }}
                                <button type="submit" class="btn btn-group btn-primary submit-button" name="add-doc">Añadir</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="add-info">
            {% if failure or rutas %}
                <table class="table-list table-detail">
                    <thead>
                        {% if failure %}
                            {% for fail in failure_report %}
                                <tr data-href="{% url 'got:failure-report-detail' fail.pk %}">
                                    <th class="add" colspan="2">
                                        Reporte de falla #{{ fail.pk }}
                                    </th>
                                </tr>
                            {% endfor %}
                        {% elif rutas %}
                            <tr data-href="{% url 'got:sys-detail' ot.system.pk %}">
                                <th class="add" colspan="2">
                                    Rutina de mantenimiento 
                                </th>
                            </tr>
                        {% endif %}
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                Equipos
                            </th>
                            <td>
                                {% if failure %}
                                    {% for fail in failure_report %}
                                        {{ fail.equipo }}
                                    {% endfor %}
                                {% endif %}
                                {% if rutas %}
                                    {% for equipo in equipos %}
                                        {{ equipo }}{% if not forloop.last %}/ {% endif %}
                                    {% endfor %}
                                {% endif %}   
                            </td>
                        </tr>
                        {% if failure %}
                        {% for fail in failure_report %}

                            <tr>
                                <th>
                                    Falla reportada
                                </th>
                                <td>
                                    {{ fail.moment }}/{{ fail.description }}<br>
                                    {{ fail.causas }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Responsable del reporte
                                </th>
                                <td>
                                    {{ fail.report }}
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            {% endif %} 

            {% if ot.solicitud_set.all %}
                <table class="table-list table-detail">
                    <thead>
                        <tr>
                            <th class="add" colspan="2">
                                Suministros/servicios
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in ot.solicitud_set.all %}
                        <tr>
                            <th>
                                {{ item.creation_date|date:"d/m/Y" }}
                            </th>
                            <td>
                                {% get_page item.id as page %}
                                <a href="{% url 'got:rq-list' %}?page={{ page }}#{{ item.id }}">
                                {{ item.suministros|linebreaks }}<br>
                                {% for suministro in item.suministro_set.all %}
                                    {{ suministro.cantidad }} {{ suministro.item.presentacion }} {{ suministro.item.name }} {{ suministro.item.reference }} - {{ suministro.item.code }}<br>
                                {% endfor %}
                                </a>
                            </td>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        <div class="tasks">     
            <aside>
                {% if ot.state == 'x' %}
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#activityModal">
                            Crear Actividad
                        </button>
                    </div>
                {% endif %}
            </aside>    

            <div class="table-responsive">
                <table class="table-list table-detail">
                    <thead>
                        <tr>
                            <th colspan="5">
                                Actividades
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Responsable</th>
                            <th scope="col">Fechas</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for act in ot.task_set.all %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{ act.description|linebreaksbr }}</td>
                                <td>{{ act.user }}</td>
                                <td>{{act.start_date|date:"d/m/Y"}}-{{act.final_date|date:"d/m/Y"}}</td>
                                <td class="nowrap">
                                    <div class="btn-group">
                                        <button class="btn status {% if act.finished %}finished{% elif act.is_overdue %}close{% else %}pending{% endif %} btn-sm dropdown-toggle" type="button" id="dropdownMenuButton{{ forloop.counter }}" data-bs-toggle="dropdown" aria-expanded="false">
                                            {% if act.finished %}Finalizado{% elif act.is_overdue %}Retrasado{% else %}En progreso{% endif %}
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ forloop.counter }}">
                                            <li><a class="dropdown-item" href="{{ act.get_absolute_url }}">Ver detalle</a></li>
                                            <li><a class="dropdown-item {% if not request.user|can_edit_task:act %}disabled{% endif %}" href="{% url 'got:finish-task-ot' act.id %}">Finalizar</a></li>
                                            <li><a class="dropdown-item {% if not perms.got.change_task %}disabled{% endif %}" href="{% url 'got:task-update' act.id %}?next={{ request.path }}">Editar</a></li>                                  
                                            <li><button class="dropdown-item {% if not perms.got.delete_task %}disabled{% endif %}" type="button" data-bs-toggle="modal" data-bs-target="#delete{{ act.id }}">Eliminar</button></li>                                  
                                            <li><a class="dropdown-item {% if not perms.got.can_reschedule_task %}disabled{% endif %}" href="{% url 'got:reschedule-task' act.id %}">Reprogramar</a></li>
                                        </ul>
                                    </div>
                                </td>
                                
                                {% if perms.got.delete_task %}
                                    <div class="modal fade" id="delete{{ act.id }}" tabindex="-1" aria-labelledby="deleteLabel{{ act.id }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteLabel{{ act.id }}">Eliminar actividad: </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    {{act.description}}
                                                </div>
                                                <div class="modal-footer">
                                                    <form method="post" action="{% url 'got:ot-detail' ot.num_ot %}">{% csrf_token %}
                                                        <input type="hidden" name="delete_task_id" value="{{ act.id }}">
                                                        <button type="submit" class="btn btn-danger submit-button" name="delete_task">Eliminar</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </tr>
                            {% if act.news %}
                                <tr>
                                    <td colspan="5">
                                        <strong>Novedades:<br> </strong>{{ act.news|linebreaksbr }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% empty %}
                            <tr>
                                <td colspan="5">No hay actividades registradas.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if has_electric_motors %}
                <div class="megger-section">
                    <div role="group">
                        <h4>Pruebas de Megger</h4>
                        <button type="button" class="btn btn-group btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#electricMotorSelectionModal">
                            Crear registro pueba Megger
                        </button>
                    </div>
                    <ul class="list-group mt-3">
                        {% for megger in megger_tests %}
                            <li class="list-group-item">
                                Prueba Megger #{{ megger.id }} para el equipo {{ megger.equipo.name }}
                                <a href="{% url 'meg:meg-detail' megger.pk %}" class="btn btn-primary btn-sm">Ver Detalles</a>
                            </li>
                        {% empty %}
                            <p>No hay pruebas de Megger asociadas con esta OT.</p>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Modal para seleccionar un motor eléctrico -->
                <div class="modal fade" id="electricMotorSelectionModal" tabindex="-1" aria-labelledby="electricMotorSelectionModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="electricMotorSelectionModalLabel">Seleccionar Motor Eléctrico</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="{% url 'meg:create_megger' ot.num_ot %}">
                                    {% csrf_token %}
                                    <div class="list-group">
                                        {% for equipo in electric_motors %}
                                            <label class="list-group-item">
                                                <input type="radio" class="form-check-input me-1" name="equipo" value="{{ equipo.code }}" required>
                                                {{ equipo.name }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                    <button type="submit" class="btn btn-primary mt-3">Crear Megger</button>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        
        {% if perms.got.add_task %}
            <div class="modal fade" id="activityModal" tabindex="-1" aria-labelledby="activityModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="activityModalLabel">Crear Actividad</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="{{ ot.get_absolute_url }}" enctype="multipart/form-data">{% csrf_token %}
                                <div class="form-group">
                                    {{ task_form }}
                                    {{ image_form }}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" name="submit_task">Agregar Actividad</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
	</main>

    <!-- Modal para finalización con firma -->
    <div class="modal fade" id="finishOtModal" tabindex="-1" aria-labelledby="finishOtModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="finishOtModalLabel">Finalizar {{ot.description}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <div class="modal-body">
                        <form id="signature-form" method="post" action="{% url 'got:ot-detail' ot.num_ot %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label for="signature-image">Subir imagen de firma (opcional):</label>
                            <input type="file" id="signature-image" name="signature_image" accept="image/*" class="form-control">
                            
                            <hr>
                            <label for="signature-pad">Firma de recepción a sactisfacción de la orden de trabajo:</label>
                            <canvas id="signature-pad" class="signature-pad" width="450" height="200"></canvas>
                            <input type="hidden" id="signature-data" name="sign_supervisor">
                            <button type="submit" class="btn btn-success" name="finish_ot">Confirmar Finalización</button>
                        </form>
                    </div>
            </div>
        </div>
    </div>



    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var canvas = document.getElementById('signature-pad');
            var signaturePad = new SignaturePad(canvas, {backgroundColor: 'rgb(255, 255, 255)'});
            var form = document.getElementById('signature-form');  // Asegúrate de asignar un ID único al formulario de firma

            form.addEventListener('submit', function(event) {
                var signatureImage = document.getElementById('signature-image').files[0];
                if (!signatureImage && signaturePad.isEmpty()) {
                    alert("Por favor, proporciona una firma primero.");
                    event.preventDefault();  // Detiene el envío del formulario si no hay firma
                } else {
                    var dataURL = signaturePad.toDataURL("image/png");
                    document.getElementById('signature-data').value = dataURL;
                }
            });
        });

        document.addEventListener("shown.bs.dropdown", function (event) {
            let tableResponsive = document.querySelector('.table-responsive');
            if (tableResponsive) {
                tableResponsive.style.overflow = 'visible';
            }
        });

        document.addEventListener("hidden.bs.dropdown", function (event) {
            let tableResponsive = document.querySelector('.table-responsive');
            if (tableResponsive) {
                tableResponsive.style.overflow = 'auto';
            }
        });

        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");
    
            rows.forEach(row => {
                row.addEventListener("click", (event) => {
                    if (!event.target.matches('.dropdown, .dropdown *, .dropdown-toggle, .dropdown-menu, .dropdown-item')) {
                        window.location.href = row.dataset.href;
                    }
                });
            });
        });

        document.addEventListener("DOMContentLoaded", function() {
            const targetSection = new URLSearchParams(window.location.search).get('target');
            if (targetSection) {
                const sectionElement = document.getElementById(targetSection);
                if (sectionElement) {
                    sectionElement.scrollIntoView();
                }
            }
        });

    </script>
    
{% endblock %}
