{% extends "got/base/base_generic.html" %}

{% block content %}
    <hr>
    <div class="container">
        <h1>Nueva orden de trabajo</h1>
        <form method="post" enctype="multipart/form-data" id="ot-form">{% csrf_token %}
            {% for field in form %}
                <div class="field-container">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                    {{ field.help_text }}
                </div>
            {% endfor %}
            <input type="submit" value="Generar" class="btn btn-primary mt-2" />
        </form>
    </div>
{% endblock %}
