<!-- got/ots/ot_list.html -->
{% extends "base/base_generic.html" %}
{% load my_tags %}

{% block title %}Listado de ordenes de trabajo{% endblock %}
{% block headtag %}
    {% include "got/ots/ot_list_styles.html" %}
{% endblock %}

{% block content %}
<main class="px-3">
    <h1 class="mt-4">
        Ordenes de trabajo
        {% if request.GET.asset_id %}
            - {{ request.GET.asset_id }}
        {% endif %}
        {% if request.GET.keyword %}
            - "{{ request.GET.keyword }}"
        {% endif %}
    </h1>

    <div class="row">
        <div class="col-auto mb-2">
            <div class="card rounded shadow indicador">
                <div class="row">
                    <div class="card-body col-auto">
                        <h5 class="card-title">Ordenes de trabajo en ejecución</h5>
                        <h1 class="display-1">{{ total_ots_en_ejecucion }}</h1> 
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <aside>
                {% if not request.user|has_group:"maq_members" %}
                    <div class="btn-group-vertical w-100 mb-2" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle w-100" data-bs-toggle="dropdown" aria-expanded="false">
                            Filtrar por equipo
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?responsable={{ request.GET.responsable }}">Mostrar todas</a></li>
                            {% for a in asset %}
                                <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?asset_id={{ a.abbreviation }}&responsable={{ request.GET.responsable }}">{{ a.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
        
                <div class="btn-group-vertical w-100 mb-2" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle w-100" data-bs-toggle="dropdown" aria-expanded="false">
                        Filtrar supervisor
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?asset_id={{ request.GET.asset_id }}">Mostrar todas</a></li>
                        {% for u in mto_members %}
                            <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?asset_id={{ request.GET.asset_id }}&responsable={{ u.first_name }}">{{ u.first_name }} {{ u.last_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="btn-group-vertical w-100 mb-2" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle w-100" data-bs-toggle="dropdown" aria-expanded="false">
                        Estado
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'got:ot-list' %}&?asset_id={{ some_asset_id }}">Todos</a></li>
                        <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?state=a&?asset_id={{ some_asset_id }}">Abierto</a></li>
                        <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?state=x&asset_id={{ a.abbreviation }}">En ejecucion</a></li>
                        <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?state=f&asset_id={{ a.abbreviation }}">Finalizado</a></li>
                        <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?state=c&asset_id={{ a.abbreviation }}">Cancelado</a></li>
                    </ul>
                </div>

                {% if systems %}
                    <div class="btn-group-vertical w-100 mb-2" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle w-100" data-bs-toggle="dropdown" aria-expanded="false">
                            Filtrar por sistema
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?asset_id={{ selected_asset_id }}">Mostrar todos</a></li>
                            {% for s in systems %}
                                <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?asset_id={{ selected_asset_id }}&system_id={{ s.id }}">{{ s.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <form method="GET" action="{% url 'got:ot-list' %}" class="form" autocomplete="off">
                    <div class="input-group">
                        <input type="text" name="keyword" class="form-control" placeholder="Descripción" aria-label="Descripción">
                        <input type="text" name="num_ot" class="form-control" placeholder="Número OT" aria-label="Número OT">
                        {% for key, value in query_params.items %}
                            {% if key != 'keyword' and key != 'num_ot' and key != 'page' %}
                                 <input type="hidden" name="{{ key }}" value="{{ value }}">
                            {% endif %}
                        {% endfor %}
                        <input type="submit" value="Buscar" class="btn btn-primary">
                    </div>
                </form>
    
            </aside>
        </div>
    </div>
    
    <div class="table-responsive mt-2">
    <table class="table-list">
        <thead>
            <tr>
                <th scope="col">OT#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Descripción</th>
                <th scope="col">Sistema</th>
                <th scope="col">Supervisor</th>
                <th scope="col" >Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for ot in ot_list %}
                <tr  data-href="{{ ot.get_absolute_url }}">
                    <td class="nowrap" data-cell="OT">OT-{{ ot.num_ot }}</td>
                    <td data-cell="Fecha de creación">{{ot.creation_date|date:"d/m/Y"}}</td>
                    <td data-cell="Descripción">{{ot.description}}</td>
                    <td data-cell="Sistema">{{ot.system}}</td>
                    <td data-cell="Supervisor">{{ot.supervisor}}</td>
                    <td class="nowrap" data-cell="Estado">
                        <p class="status 
                        {% if ot.state == 'f' %}green-state
                        {% elif ot.state == 'c' %}red-state
                        {% elif ot.is_pausado %}yellow-state
                        {% elif ot.state == 'x' %}violet-state
                        {% elif ot.state == 'a' %}blue-state
                        {% else %}orange-state
                        {% endif %}">
                            {% if ot.is_pausado %}
                                Pausado
                            {% else %}
                                {{ ot.get_state_display }}
                            {% endif %}
                        </p>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No hay ordenes de trabajo registradas.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
    
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            })
        })
    })
</script>
{% endblock %}