


Hola,
Recibimos una solicitud para restablecer tu contraseña. Haz clic en el enlace de abajo para establecer una nueva contraseña:

{{ protocol }}://{{ request.get_host }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
        Restablecer mi contraseña
    </a>
</p>
<p>Si no solicitaste este cambio, puedes ignorar este correo.</p>
<p>Gracias.</p>


Alguien solicitó restablecer la contraseña del correo electrónico {{ email }}. Vaya el siguiente enlace:
{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}