<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Restablecer Contraseña</title>
</head>
<body>
    <p>Hola,</p>
    <p>Recibimos una solicitud para restablecer tu contraseña en GOT. Haz clic en el enlace de abajo para establecer una nueva contraseña:</p>
    <p>
        <a href="{{ protocol }}://got.serport.co{% url 'password_reset_confirm' uidb64=uid token=token %}">
            Restablecer mi contraseña
        </a>
    </p>
    <p>Si no solicitaste este cambio, puedes ignorar este correo.</p>
    <p>Gracias.</p>
</body>
</html>
