<!-- dth/templates/dth/nomina_form.html -->
{% extends "base/base_generic.html" %}
{% load static %}

{% block content %}
<h2>{{ title }}</h2>

<!-- Muestra mensajes de Django -->
{% if messages %}
  <ul>
  {% for message in messages %}
    <li {{ message.tags }}>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}

  <button type="submit" class="btn btn-success">Guardar</button>
  <a href="{% url 'dth:gerencia_nomina' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
