{% load my_tags %}
{% obtener_asset_del_supervisor as asset_del_supervisor %}
{% obtener_vehiculos as vehiculos %}

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% if asset_del_supervisor %}{{ asset_del_supervisor.get_absolute_url }}{% elif perms.got.access_all_assets %}{% url 'got:asset-list' %}{% endif %}">
            <img src="https://hivik.s3.us-east-2.amazonaws.com/static/Logo-gris.png" width="200px">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {% if asset_del_supervisor %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == asset_del_supervisor.get_absolute_url %}active{% endif %}" href="{{ asset_del_supervisor.get_absolute_url }}">
                            {{ asset_del_supervisor.name }}
                        </a>
                    </li>
                {% elif perms.got.access_all_assets %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'asset-list' %}active{% endif %}" href="{% url 'got:asset-list' %}">
                            Equipos
                        </a>
                    </li>
                {% endif %}

                {% if request.user|has_group:"mto_members" or request.user|has_group:"gerencia" %}
                    <!-- Dropdown de Mantenimiento -->
                    <li class="nav-item dropdown mega-dropdown">
                        <a class="nav-link {% if request.resolver_match.url_name in 'maintenance_dashboard' %}active{% endif %}" href="#" id="maintenanceDropdown" role="button">
                            Mantenimiento
                        </a>
                        <!-- Nuestro mega-menu -->
                        <div class="mega-menu-desktop" aria-labelledby="maintenanceDropdown">
                            <div class="container-fluid p-3 d-flex flex-wrap">
                                <!-- Ejemplo de “columnas” dentro del mega-menu -->
                            
                                <div class="flex-fill me-4">
                                    <ul class="list-unstyled">
                                    {% if request.user|has_group:"mto_members" or request.user|has_group:"gerencia" %}
                                        <li><a class="dropdown-item" href="{% url 'mto:stoytell' %}">Barcos</a></li>
                                        <li><a class="dropdown-item" href="{% url 'got:dashboard' %}">Indicadores</a></li>
                                        <li><a class="dropdown-item" href="{% url 'mto:maintenance_plan_all_assets' %}">Proyección</a></li>
                                    {% endif %}
                                    </ul>
                                </div>

                                <div class="flex-fill me-4">
                                    <h5 class="text-white">OT y Fallas</h5>
                                    <ul class="list-unstyled">
                                    {% if perms.got.view_task %}
                                        <li><a class="dropdown-item" href="{% url 'got:my-tasks' %}">Actividades</a></li>
                                    {% endif %}
                                    {% if perms.got.view_ot %}
                                        <li><a class="dropdown-item" href="{% url 'got:ot-list' %}">Ordenes de trabajo</a></li>
                                    {% endif %}
                                    {% if perms.got.view_failurereport %}
                                        <li><a class="dropdown-item" href="{% url 'got:failure-report-list' %}">Reportes de fallas</a></li>
                                    {% endif %}
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <!-- 2) Submenú MÓVIL => collapse -->
                        <div id="megaMaintenance" class="collapse mega-menu-mobile">
                            <div class="p-3 text-center">
                                <!-- Mismos links que arriba -->
                                <ul class="list-unstyled">
                                    {% if request.user|has_group:"mto_members" or request.user|has_group:"gerencia" %}
                                    <li><a class="dropdown-item" href="{% url 'got:maintenance_dashboard' %}">Barcos</a></li>
                                    <li><a class="dropdown-item" href="{% url 'got:dashboard' %}">Indicadores</a></li>
                                    {% endif %}
                                </ul>
                                <hr class="my-2">
                                <h5 class="text-white">OT y Fallas</h5>
                                <ul class="list-unstyled">
                                    {% if perms.got.view_task %}
                                    <li><a class="dropdown-item" href="{% url 'got:my-tasks' %}">Actividades</a></li>
                                    {% endif %}
                                    {% if perms.got.view_ot %}
                                    <li><a class="dropdown-item" href="{% url 'got:ot-list' %}">Ordenes de trabajo</a></li>
                                    {% endif %}
                                    {% if perms.got.view_failurereport %}
                                    <li><a class="dropdown-item" href="{% url 'got:failure-report-list' %}">Reportes de fallas</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endif %}

                {% if request.user|has_group:"dth_members" %}
                    <!-- Dropdown de Mantenimiento -->
                    <li class="nav-item dropdown mega-dropdown">
                        <a class="nav-link" href="#" id="dthDropdown" role="button">
                            Talento Humano
                        </a>
                        <!-- Nuestro mega-menu -->
                        <div class="mega-menu-desktop" aria-labelledby="dthDropdown">
                            <div class="container-fluid p-3 d-flex flex-wrap">
                                <!-- Ejemplo de “columnas” dentro del mega-menu -->
                            
                                <div class="flex-fill me-4">
                                    <ul class="list-unstyled">
                                        <li><a class="dropdown-item" href="{% url 'dth:nomina_list' %}">Nomina</a></li>
                                        <li><a class="dropdown-item" href="{% url 'dth:position_documents_list' %}">Documentos por cargo</a></li>
                                        <li><a class="dropdown-item" href="{% url 'dth:nomina_documents_matrix' %}">Matriz de documentos</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <!-- 2) Submenú MÓVIL => collapse -->
                        <div id="megaDth" class="collapse mega-menu-mobile">
                            <div class="p-3 text-center">
                                <!-- Mismos links que arriba -->
                                <ul class="list-unstyled">
                                    <li><a class="dropdown-item" href="{% url 'dth:nomina_list' %}">Nomina</a></li>
                                    <li><a class="dropdown-item" href="{% url 'dth:position_documents_list' %}">Documentos por cargo</a></li>
                                </ul>
                                <hr class="my-2">
                            </div>
                        </div>
                    </li>
                {% endif %}

                {% if request.user|has_group:"tic_members" %}
                    <!-- Dropdown de TIC -->
                    <li class="nav-item dropdown mega-dropdown">
                        <a class="nav-link {% if request.resolver_match.url_name in 'maintenance_dashboard' %}active{% endif %}" href="#" id="ticDropdown" role="button">
                            Tecnologías
                        </a>

                        <!-- Nuestro mega-menu -->
                        <div class="mega-menu-desktop" aria-labelledby="ticDropdown">
                            <div class="container-fluid p-3 d-flex flex-wrap">
                                <div class="flex-fill me-4">
                                    <ul class="list-unstyled">
                                        <li><a class="dropdown-item" href="{% url 'tic:ticket-list' %}">Tickets</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- 2) Submenú MÓVIL => collapse -->
                        <div id="megaTic" class="collapse mega-menu-mobile">
                            <div class="p-3 text-center">
                                <!-- Mismos links que arriba -->
                                <ul class="list-unstyled">
                                    <li><a class="dropdown-item" href="{% url 'tic:ticket-list' %}">Tickets</a></li>
                                </ul>
                                <hr class="my-2">
                            </div>
                        </div>
                    </li>
                {% endif %}

                {% if request.user|has_group:"finance_members" %}
                    <!-- Dropdown de TIC -->
                    <li class="nav-item dropdown mega-dropdown">
                        <a class="nav-link" href="#" id="costDropdown" role="button">
                            Finanzas
                        </a>

                        <!-- Nuestro mega-menu -->
                        <div class="mega-menu-desktop" aria-labelledby="costDropdown">
                            <div class="container-fluid p-3 d-flex flex-wrap">
                                <div class="flex-fill me-4">
                                    <ul class="list-unstyled">
                                        <li><a class="dropdown-item" href="{% url 'cont:asset-list' %}">Análisis de costes</a></li>
                                        <li><a class="dropdown-item" href="{% url 'dth:gerencia_nomina' %}">Herramienta de Gestión de Nómina</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}

                {% if perms.inv.view_solicitud %}
                    <li class="nav-item">
                        <a class="position-relative nav-link {% if request.resolver_match.url_name == 'rq-list' %}active{% endif %}" href="{% url 'got:rq-list' %}">
                            Solicitudes
                        </a>
                    </li>
                {% endif %}

                {% if perms.ope.view_operation %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'operation-list' %}active{% endif %}" href="{% url 'ope:operation-list' %}">
                            Proyectos
                        </a>
                    </li>
                {% endif %}

                {% if perms.outbound.view_outbounddelivery %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'outbound-list' %}active{% endif %}" href="{% url 'outbound:outbound-list' %}">
                            Salidas
                        </a>
                    </li>
                {% endif %}

                {% if perms.dth.add_overtime %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'overtime_report' %}active{% endif %}" href="#" id="overtimeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Horas extras
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="overtimeDropdown">
                            <li><a class="dropdown-item" href="{% url 'dth:overtime_report' %}">Reportar horas extras</a></li>
                            <li><a class="dropdown-item" href="{% url 'dth:overtime_list' %}">Mis reportes</a></li>
                        </ul>
                    </li>
                {% endif %}
            

                
                <!-- Dropdown de Vehículos -->
                <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link" href="#" id="vehiclesDropdown" role="button">
                        Vehículos
                    </a>
                    <div class="mega-menu-desktop" aria-labelledby="vehiclesDropdown">
                        <div class="container-fluid p-3 d-flex flex-wrap text-center">
                            <div class="flex-fill me-4">
                                <h5 class="text-white">Flota de Vehículos</h5>
                                <ul class="list-unstyled">
                                    {% for vehiculo in vehiculos %}
                                        <li>
                                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#vehiculoModal{{ vehiculo.code }}">
                                                {{ vehiculo.system.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 2) Submenú MÓVIL => collapse -->
                    <div id="megaVehicles" class="collapse mega-menu-mobile">
                        <div class="p-3 text-center">
                            <h5 class="text-white mb-3">Flota de Vehículos</h5>
                            <ul class="list-unstyled">
                                {% for vehiculo in vehiculos %}
                                <li>
                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#vehiculoModal{{ vehiculo.code }}">
                                        {{ vehiculo.system.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarUserMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.first_name }} {{ user.last_name }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUserMenu">
                        <li><strong class="dropdown-header">{{ user.first_name }} {{ user.last_name }}</strong></li>
                        <li><span class="dropdown-item-text">{{ user.profile.cargo }}</span></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><span class="dropdown-item-text">{{ user.email }}</span></li>
                        <li><hr class="dropdown-divider"></li>
                        {% if request.user|has_group:"buzos_members" %}
                            <li><span class="dropdown-item-text"><strong>Estación:</strong> {{ user.profile.station }}</span></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'dth:profile_update' %}">Actualizar Información</a></li>
                        <li>
                            <form action="{% url 'logout' %}" method="post" class="dropdown-item">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link" style="color: inherit; padding: 0;">Cerrar Sesión</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


{% for vehiculo in vehiculos %}
<!-- Modal para {{ vehiculo.name }} -->
<div class="modal fade" id="vehiculoModal{{ vehiculo.code }}" tabindex="-1" aria-labelledby="vehiculoModalLabel{{ vehiculo.code }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{ vehiculo.name }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <a href="{% url 'preoperacionales:preoperacional-dia' vehiculo.code %}" class="btn btn-primary">Preoperacional</a>
            <a href="{% url 'preoperacionales:preoperacional-especifico' vehiculo.code %}" class="btn btn-secondary">Salida</a>
        </div>
      </div>
    </div>
</div>
{% endfor %}

<script>
    function adaptDropdown(linkId, targetId) {
        const link = document.getElementById(linkId);
        if (link) {
            if (window.innerWidth < 992) {
                link.classList.add('dropdown-toggle');
                link.setAttribute('data-bs-toggle', 'collapse');
                link.setAttribute('data-bs-target', targetId);
                link.setAttribute('aria-expanded', 'false');
                link.setAttribute('aria-controls', targetId.substring(1)); // quita el '#' del targetId
            } else {
                // Remueve los atributos para pantallas grandes si fuera necesario
                link.classList.remove('dropdown-toggle');
                link.removeAttribute('data-bs-toggle');
                link.removeAttribute('data-bs-target');
                link.removeAttribute('aria-expanded');
                link.removeAttribute('aria-controls');
            }
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Llamada inicial
        adaptDropdown('maintenanceDropdown', '#megaMaintenance');
        adaptDropdown('dthDropdown', '#megaDth');
        adaptDropdown('ticDropdown', '#megaTic');
        adaptDropdown('vehiclesDropdown', '#megaVehicles');

        // Escucha cambios en el tamaño de la ventana
        window.addEventListener('resize', function() {
            adaptDropdown('maintenanceDropdown', '#megaMaintenance');
            adaptDropdown('dthDropdown', '#megaDth');
            adaptDropdown('ticDropdown', '#megaTic');
            adaptDropdown('vehiclesDropdown', '#megaVehicles');
        });
    });

</script>