<!-- templates/base/sidebar.html -->
<button class="sidebar-fab d-block d-lg-none" id="sidebarFabBtn" aria-label="Open sidebar">
	<i id="fabIcon" class="bi bi-plus fs-2 toggle-icon"></i>
</button>
	
<aside class="vertical-sidebar">
	<ul class="nav flex-column">
		{% if perms.got.view_failurereport %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'got:failure-report-list' %}">
					<i class="fa-solid fa-screwdriver-wrench"></i>
					<span class="nav-text">Reporte de fallas</span>
				</a>
			</li>
		{% endif %}
		{% if perms.inv.view_solicitud %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'got:rq-list' %}">
					<i class="fa-solid fa-cart-shopping"></i>
					<span class="nav-text">Solicitudes de compras</span>
				</a>
			</li>
		{% endif %}
		{% if perms.dth.view_overtimeproject %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'dth:overtime_list' %}">
					<i class="fa-solid fa-clock"></i>
					<span class="nav-text">Horas extras</span>
				</a>
			</li>
		{% endif %}
		{% if perms.dth.add_overtimeproject %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'dth:overtime_report' %}">
					<i class="bi bi-people-fill"></i>
					<span class="nav-text">Reportar horas extras</span>
				</a>
			</li>
		{% endif %}
		{% if perms.outbound.view_outbounddelivery %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'outbound:outbound-list' %}">
					<svg style="margin-right: 5px;" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
						<path d="M440-183v-274L200-596v274l240 139Zm80 0 240-139v-274L520-457v274Zm-80 92L160-252q-19-11-29.5-29T120-321v-318q0-22 10.5-40t29.5-29l280-161q19-11 40-11t40 11l280 161q19 11 29.5 29t10.5 40v318q0 22-10.5 40T800-252L520-91q-19 11-40 11t-40-11Zm200-528 77-44-237-137-78 45 238 136Zm-160 93 78-45-237-137-78 45 237 137Z"/>
					</svg>
					<span class="nav-text">Salida de material</span>
				</a>
			</li>
		{% endif %}
	</ul>

	
</aside>

<!-- 
<style>
	/* Por defecto, el submenú está oculto */
.submenu {
  display: none;  /* u "height: 0; overflow: hidden;" si quieres animación */
  padding-left: 1.5rem; /* sangría opcional */
}

/* Clase .open para submenú abierto */
.has-submenu.open > .submenu {
  display: block; 
}

/* A veces, si .nav-link se hace hover, submenú se muestre => 
   depende de si quieres abrirlo al hover en escritorio, 
   o al "click" en móvil, etc.
*/

.has-submenu .submenu-toggle i.bi-caret-down {
  transition: transform 0.3s;
}
.has-submenu.open .submenu-toggle i.bi-caret-down {
  transform: rotate(-180deg);
}

</style>

<script>
	document.addEventListener('DOMContentLoaded', function() {
  // Selecciona todos los toggles
  const toggles = document.querySelectorAll('.submenu-toggle');

  toggles.forEach(toggle => {
    toggle.addEventListener('click', function(e) {
      e.preventDefault();
      // Obtenemos el LI padre
      const liParent = this.closest('.has-submenu');
      // Alternamos la clase .open
      liParent.classList.toggle('open');
    });
  });
});

</script> -->