{% extends "got/base/pdf_template.html" %}
{% load my_tags %}

{% block title %}ACTA ENTREGA DE EQUIPO{% endblock %}
{% block doc_info %}
<th>CODIGO: FR-SO-OP-146</th>
<th>VERSION 001</th>
<th>FECHA DE ACTUALIZACION: 07/10/2024</th>
{% endblock %}
{% block content %}

<table>
    <tbody>
        <tr>
            <th colspan="4">Hacen Constar:</th>
        </tr>
        <tr>
            <td colspan="4">
                Que siguiendo las órdenes de la gerencia de la compañía, se ha realizado la entrega del mando de equipos, en que el capitán y/o Jefe de maquinas ha recibido a satisfacción la documentación y la información siguiente:			
            </td>
        </tr>
        <tr>
            <th>Equipo:</th>
            <td>{{equipo.name}} /{{equipo.code}}</td>
            <th>Fecha de entrega:</th>
            <td>{{current_date}}</td>
        </tr>
        <tr>
            <th>Modelo/Marca</th>
            <td>{{equipo.model|default_if_none:"---"}}/ {{equipo.marca|default_if_none:"---"}}</td>
            <th>Ubicación</th>
            <td>{{equipo.ubicacion|default_if_none:equipo.system.asset}}</td>
        </tr>
        <tr>
            <td colspan="4">
                Este reporte deberá ser completado con comentarios breves a respeto de la operatividad, equipos y limpieza de los espacios. 						
            </td>
        </tr>
        <tr>
            <th colspan="4">Condición del equipo</th>
        </tr>
        <tr>
            <th colspan="2">Sistemas principales</th>
            <th colspan="2">Observaciones</th>
        </tr>
        <tr>
            <td colspan="2" style="height: 55px;">SISTEMA ELÉCTRICO</td>
            <td colspan="2">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="height: 55px;">SISTEMA NEUMÁTICO</td>
            <td colspan="2">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="height: 55px;">SISTEMA HIDRÁULICO</td>
            <td colspan="2">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="height: 55px;">SISTEMAS MECANICOS</td>
            <td colspan="2">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="height: 55px;">ESTRUCTURA</td>
            <td colspan="2">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="height: 55px;">PUNTOS DE FIJACIÓN</td>
            <td colspan="2">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="height: 55px;">CARPA PROTECTORA</td>
            <td colspan="2">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="height: 55px;">REPUESTOS Y CONSUMIBLES</td>
            <td colspan="2">
            </td>
        </tr>
        <tr>
            <th colspan="4">Recomendaciones para el equipo</th>
        </tr>
        <tr>
            <td colspan="4" style="height: 50px;">
                {{equipo.recomendaciones|linebreaks}}									
            </td>
        </tr>
        <tr>
            <th colspan="4">Recepción</th>
        </tr>                
        <tr>
            <td colspan="4">
                Lo que hace constar que los sistemas mencionados se encuentran en buen estado y se deben recibir en iguales condiciones:									
            </td>
        </tr>
    </tbody>
</table>

<table>
    <tr>
        <td style="height: 90px;"> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <th>Coordinador de mantenimiento</th>
        <th>Firma del Capitan</th>
        <th>Firma del Jefe de maquinas</th>
    </tr>
</table>

{% endblock %}

