{% load my_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Plan de mantenimiento {{ system.name }} en Activo {{ asset.name }}</title>
    <style>
        body { 
            font-family: Arial, sans-serif;
            font-size: 1.3rem;
            margin: 0;
            padding: 0;
        }

        
        h1, h2, h3 { color: #333366; }

        th, td { 
            padding: 5px; 
            text-align: left;}

        th {
            text-align: left;
            vertical-align: top;
        }

        .header-table, .content-table { 
            width: 100%; 
            border-collapse: collapse; 
            margin-top: 20px; 
        }

        img { width: 100px; height: auto; margin-right: 10px; }
        ul { list-style-type: none; padding: 0; }
        li { margin-bottom: 5px; }
        .system-details, .equipment-details { margin-top: 20px; }
        .toc ul { list-style-type: none; padding-left: 20px; padding-bottom: 5px; }

        a {
            color: inherit; /* Hereda el color del elemento padre */
            text-decoration: none; /* Quita el subrayado */
        }
    </style>
</head>
<body>

    <header>
        <table class="header-table" style="border: 0.2px solid #000; padding: 0;">
            <tr>
                <td rowspan="3" style="width: 200px;">
                    <img src="https://hivik.s3.us-east-2.amazonaws.com/static/Logo.png" style="width: 180px; height: auto;">
                </td>
                <th colspan="3" style="text-align: center;"><h1>PLAN DE MANTENIMIENTO: {{ system.name }}</h1></th>
            </tr>
            <tr>
                <th colspan="3" style="text-align: center;"><h2>{{ asset.name }}</h2></th>
            </tr>
            <tr>
                <th style="text-align: center;">CODIGO: </th>
                <th style="text-align: center;">VERSION 001</th> 
                <th style="text-align: center; width: 250px;">FECHA DE ACTUALIZACION: 16/08/2024</th>
            </tr>
        </table>
    </header>

    <br>
    <table style="border: #000 solid 0.2px;">
        <tr>
            <td>
                <h1 style="text-align: center;">Tabla de Contenido</h1>
                <div class="toc">
                    <ul>
                        {% for section in sections %}
                            <li><a href="#{{ section.id }}">{{ forloop.counter }}. {{ section.title }}</a></li>
                            {% if section.id == "associated-equipment" %}
                            <ul>
                                {% for equipo in system.equipos.all %}
                                    <li><a href="#{{ equipo.code }}">{{ forloop.parentloop.counter }}.{{ forloop.counter }}. {{ equipo.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </td>
        </tr>
    </table>

    <div style="page-break-before: always;"></div>
    
    <a name="summary"></a>
    <table style="border: 0.2px solid #000;">
        <tr>
            <th colspan="6" style="text-align: center; padding-bottom: 0; background-color: #333366;">
                <h3 style="font-weight: bolder; color: #fff">RESUMEN DE RUTINAS DE MANTENIMIENTO</h3>
            </th>
        </tr>
        <tr>
            <th colspan="6">
                El presente documento contiene cada uno de los aspectos técnicos establecidos en el plan de mantenimiento para el sistema <strong>{{system}}</strong>.
                A continuación se presenta un resumen de las rutinas de mantenimiento de cada equipo y la periodicidad con la que se ejecutara estas actividades en los periodos establecidos a partir de la fecha ({{current_date|date:"d/m/Y"}}).
            </th>
        </tr>
        <tr>
            <th style="background-color: #ddd;">Rutina</th>
            <th style="background-color: #ddd;">Ultima orden generada</th>
            <th style="width: 80px; background-color: #ddd;">Trimestral</th>
            <th style="width: 80px; background-color: #ddd;">Semestral</th>
            <th style="width: 80px; background-color: #ddd;">Anual</th>
            <th style="width: 80px; padding-left: 2px; background-color: #ddd;">Quinquenal</th>
        </tr>
        {% for equipo in system.equipos.all %}
        {% if equipo.equipos.all %}
        <tr>
            <th colspan="6" style="background-color: #ddd;">{{equipo.name}}</th>
        </tr>
        {% endif %}
        {% for ruta in equipo.equipos.all %}
            <tr>
                <td><a href="#{{ ruta.code }}">{{ ruta.name }}</a></td>
                <td><a href="#{{ ruta.ot.num_ot }}">{{ ruta.ot|default_if_none:"---" }}</a></td>
                <td>{{ ruta|calcular_repeticiones:'trimestral' }}</td>
                <td>{{ ruta|calcular_repeticiones:'semestral' }}</td>
                <td>{{ ruta|calcular_repeticiones:'anual' }}</td>
                <td>{{ ruta|calcular_repeticiones:'quinquenal' }}</td>
            </tr>
        {% endfor %}
        {% endfor %}
    </table>

    <div style="page-break-before: always;"></div>



    <a name="system-info"></a>
    <table style="border: 0.2px solid #000;">
        <tr>
            <th colspan="3" style="text-align: center; padding-bottom: 0; background-color: #333366;">
                <h3 style="font-weight: bolder; color: #fff">INFORMACIÓN DEL SISTEMA: {{ system.name }}</h3>
            </th>
        </tr>
        <tr>
            <th>
                Nombre:
                <ul>
                    <li>{{ system.name }}</li>
                </ul> 
            </th>
            <th>
                <strong>Ubicación:</strong>
                <ul>
                    <li>{{ system.location }}</li>
                </ul>
            </th>
            <th>
                Estado:
                <ul>
                    <li>{{ system.get_state_display }}</li>
                </ul> 
            </th>
        </tr>
        </table>

        
        <a name="associated-equipment"></a>
        {% for equipo in system.equipos.all %}
        <br>
        <table style="border: 0.2px solid #000;">
            <tr>
                <th colspan="3" style="text-align: center; padding-bottom: 0; background-color: #333366;">
                    <a name="{{ equipo.code }}"></a>
                    <h3 style="font-weight: bolder; color: #fff">{{ equipo.name }}</h3>
                </th>
            </tr>
            <!-- <tr>
                <th colspan="3" style="text-align: center; padding-bottom: 0;">
                    
                    <h3 style="font-weight: bolder;"></h3>
                </th>
            </tr> -->
            <tr>
                <td style="vertical-align: top;">
                    <ul>
                        <li>
                            <strong>Modelo:</strong> {{ equipo.model }}<br>
                            <strong>Serial:</strong> {{ equipo.serial }}<br>
                            <strong>Marca:</strong> {{ equipo.marca }}<br>
                            <strong>Fabricante:</strong> {{ equipo.fabricante }}<br>
                            {% if equipo.tipo == 'r' %}
                                <strong>Horómetro:</strong> {{ equipo.horometro }} horas<br>
                                <strong>Lubricante: </strong> {{ equipo.lubricante|default_if_none:"---" }}<br>
                                <strong>Capacidad</strong> {{ equipo.volumen|default_if_none:"---" }} Gls<br>
                            {% endif %}
                            <strong>Características:</strong><br> {{ equipo.feature|linebreaks }}<br>
                            <strong>Proxima rutina de mantenimiento:</strong><br> {{ equipo.ruta_proxima.name }}<br>
                        </li>
                    </ul>
                </td>
                <td colspan="2">
                    {% if equipo.imagen %}
                        <img src="{{ equipo.imagen.url }}" alt="{{ equipo.name }}" width="500px">
                    {% endif %}
                </td>
            </tr>

    </table>

    {% if equipo.equipos.exists %}
    <br>
    <table style="border: 0.2px solid #000;">
        <tr>
            <th colspan="4" style="text-align: center; padding-bottom: 0; background-color: #333366;">
                <a name="rutinas{{ equipo.code }}"></a>
                <h3 style="font-weight: bolder; color: #fff">Rutinas de mantenimiento: {{ equipo.name }}</h3>
            </th>
        </tr>
        <tr>
            <th>Rutina</th>
            <th>Frecuencia</th>
            <th>Última Intervención</th>
            <th>Estimado Próxima Intervención</th>
        </tr>
        {% for ruta in equipo.equipos.all %}
            
            <tr>
                <td>
                    <a name="{{ ruta.code }}"></a>
                    {{ ruta.name }}
                </td>
                <td>{{ ruta.frecuency }} {{ ruta.get_control_display }}</td>
                <td>{{ ruta.intervention_date|date:"d/m/Y" }}</td>
                <td>{{ ruta.next_date|date:"d/m/Y" }}</td>
            </tr>
            <!-- <tr style="background-color: #ddd; border-bottom: 1px #000 solid;">
                <td colspan="4">
                    <strong>Actividades: {{ruta.get_nivel_display}}</strong>
                    <ul  style="list-style-type: circle;">
                        {% for task in ruta.task_set.all %}
                            <li>
                                {{ task.description }} {{ task.hse }}<br>
                                {{ task.procedimiento|linebreaks }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr> -->
        {% endfor %}
    </table>
    {% endif %}
    <div style="page-break-before: always;"></div>
    {% endfor %}

    <a name="maintenance-routines"></a>
    {% for ruta in system.rutas.all %}
        {% if not ruta.equipo %} 
        <br>
        <table style="border: 0.2px solid #000;">
            <tr>
                <th colspan="4" style="text-align: center; padding-bottom: 0; background-color: #333366;">
                    <h3 style="font-weight: bolder; color: #fff">Rutinas de mantenimiento: {{ system.name }}</h3>
                </th>
            </tr>
            <tr>
                <th>Rutina</th>
                <th>Frecuencia</th>
                <th>Última Intervención</th>
                <th>Estimado Próxima Intervención</th>
            </tr>
                <tr>
                    <td>{{ ruta.name }}</td>
                    <td>{{ ruta.frecuency }} {{ ruta.get_control_display }}</td>
                    <td>{{ ruta.intervention_date|date:"d/m/Y" }}</td>
                    <td>{{ ruta.next_date|date:"d/m/Y" }}</td>
                </tr>
                <!-- <tr style="background-color: #ddd; border-bottom: 1px #000 solid;">
                    <td colspan="4">
                        <strong>Actividades: {{ruta.get_nivel_display}}</strong>
                        <ul  style="list-style-type: circle;">
                            {% for task in ruta.task_set.all %}
                                <li>
                                    {{ task.description }} {{ task.hse }}<br>
                                    {{ task.procedimiento|linebreaks }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr> -->
        </table>
        {% endif %}
    {% endfor %}    
    
    
    {% for equipo in system.equipos.all %}

    {% endfor %}

    
    <br>
    <a name="maintenance-log"></a>
    <table style="border: 0.2px solid #000;">
        <tr>
            <th colspan="5" style="text-align: center; padding-bottom: 0; background-color: #333366;">
                <h3 style="font-weight: bolder; color: #fff">BITACORA DE MANTENIMIENTOS REALIZADOS</h3>
            </th>
        </tr>
        <tr>
            <th style="width: 85px;">Fecha</th>
            <th style="width: 50px;">#OT</th>
            <th>Descripción</th>
            <th style="width: 120px;">Tipo de mantenimiento</th>
            <th style="width: 150px;">Responsable</th>
        </tr>
        {% for ot in system.ot_set.all %}
            <tr>
                <a name="{{ ot.num_ot }}"></a>
                <td>{{ ot.creation_date|date:"d/m/Y" }}</td>
                <td>{{ ot.num_ot }}</td>
                <td>{{ ot.description }}</td>
                <td>{{ ot.get_tipo_mtto_display }}</td>
                <td>{{ ot.supervisor }}</td>
            </tr>
            <!-- <tr style="background-color: #ddd; border-bottom: 1px #000 solid;">
                <td colspan="4">
                    <strong>Actividades:</strong>
                    <ul  style="list-style-type: circle;">
                        {% for task in ot.task_set.all %}
                            <li>
                                {{ task.description }} {{ task.hse }}<br>
                                {{ task.procedimiento|linebreaks }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr> -->
        {% endfor %}
    </table>


</body>
</html>

