{% extends "got/base/base_detail.html" %}


{% block content %}

<div class="container">
    <h1>
        Reporte consumos de Lubricantes, Combustibles y Filtros<br>
        {{ asset.name }}
    </h1>
    <p>Ultimo reporte realizado: {{ultima_fecha_transaccion}}</p>

    <form method="post">{% csrf_token %}

        <div class="form-group">
            <label for="fecha_reporte">Fecha del Reporte</label>
            <input type="date" id="fecha_reporte" name="fecha_reporte" class="form-control" value="{{ fecha_actual }}" required>
        </div>

        {% for presentacion, group in grouped_suministros.items %}
        <table class="table-list table-detail">
            <thead>
                <tr>
                    <th>Descripción</th>
                    
                    <th>Ultima cantidad reportada</th>
                    <th>Cantidad Ingresada</th>
                    <th>Cantidad Consumida</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for suministro in group %}
                <tr>
                    <td>{{ suministro.item }} ({{presentacion}})</td>
                    <td>{{ suministro.cantidad }}</td>
                    <td><input class="form-control cantidad-ingresada" type="number" name="ingresado_{{ suministro.id }}" value="0" min="0" data-cantidad-actual="{{ suministro.cantidad }}" data-row-id="{{ suministro.id }}"></td>
                    <td><input class="form-control cantidad-consumida" type="number" name="consumido_{{ suministro.id }}" value="0" min="0" data-row-id="{{ suministro.id }}"></td>
                    <td><span id="total_{{ suministro.id }}"> {{ suministro.cantidad }} </span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Actualizar Consumos</button>
    </form>
</div>

<script>
    // Función para actualizar el total basado en la cantidad ingresada y consumida
    function actualizarTotal(rowId) {
        const cantidadActual = parseFloat(document.querySelector(`input[name="ingresado_${rowId}"]`).getAttribute('data-cantidad-actual')) || 0;
        const cantidadIngresada = parseFloat(document.querySelector(`input[name="ingresado_${rowId}"]`).value) || 0;
        const cantidadConsumida = parseFloat(document.querySelector(`input[name="consumido_${rowId}"]`).value) || 0;

        // Calcular el nuevo total
        const total = cantidadActual + cantidadIngresada - cantidadConsumida;

        // Actualizar el valor en la columna Total
        document.getElementById(`total_${rowId}`).innerText = total.toFixed(2);
    }

    // Event listeners para los inputs de cantidad ingresada y consumida
    document.querySelectorAll('.cantidad-ingresada, .cantidad-consumida').forEach(input => {
        input.addEventListener('input', function() {
            const rowId = this.getAttribute('data-row-id');
            actualizarTotal(rowId);
        });
    });
</script>

{% endblock %}