<!-- equipment_history_form.html -->

{% extends "got/base_generic.html" %}

{% block content %}
    {% if object %}
        <h2>Editar Registro del Historial de {{ equipment.name }}</h2>
    {% else %}
        <h2>Agregar Registro al Historial de {{ equipment.name }}</h2>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'got:equipment_history' equipment.code %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}
