{% extends "got/base_generic.html" %}

{% block content %}
<h1>Presupuesto GRATUS</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Orden de trabajo</th>
            <th>Proveedor</th>
            <th>Presupuesto Asignado</th>
            <th>Ejecutado</th>
            <th>Pendiente</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in gratus_data %}
            {% for solicitud in entry.solicitudes_grouped %}
                <tr>
                    {% if forloop.first %}
                        <td rowspan="{{ entry.solicitudes_grouped|length }}">{{ entry.ot.num_ot }} - {{ entry.ot.description }}</td>
                    {% endif %}
                    <td>{{ solicitud.proveedor }}</td>
                    {% if forloop.first %}
                        <td rowspan="{{ entry.solicitudes_grouped|length }}">{{ entry.presupuesto|floatformat:2 }} COP</td>
                    {% endif %}
                    <td>{{ solicitud.total_inversion|floatformat:2 }} COP</td>
                    {% if forloop.first %}
                        <td rowspan="{{ entry.solicitudes_grouped|length }}">{{ entry.pendiente|floatformat:2 }} COP</td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td>{{ entry.ot.num_ot }} - {{ entry.ot.description }}</td>
                    <td>---</td>
                    <td>{{ entry.presupuesto|floatformat:2 }} COP</td>
                    <td>0.00 COP</td>
                    <td>{{ entry.pendiente|floatformat:2 }} COP</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}
