{% extends "got/base_generic.html" %}

{% block headtag %}
<style>
    .field-container {
        margin-bottom: 20px;
    }
    .signature-pad {
        border: 1px solid #000;
        border-radius: 4px;
        touch-action: none;  /* importante para permitir dibujar en dispositivos táctiles */
    }
</style>
{% endblock %}

{% block content %}
    <hr>
    <div class="container">
        <h1>Nueva orden de trabajo</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="field-container">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                    {{ field.help_text }}
                </div>
            {% endfor %}
            
            <div class="field-container">
                <label for="signature-pad">Firma del Supervisor:</label>
                <canvas id="signature-pad" class="signature-pad" width="400" height="200"></canvas>
                <button type="button" onclick="saveSignature()">Guardar Firma</button>
            </div>
            <input type="hidden" id="signature-data" name="sign_supervisor">
            <input type="submit" value="Generar" class="btn btn-primary" />
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.6.0/signature_pad.min.js"></script>
    <script>
        window.onload = function () {
            var canvas = document.getElementById('signature-pad');
            // Asegúrate de que el canvas esté configurado para responder a los eventos de firma
            var signaturePad = new SignaturePad(canvas, {
                backgroundColor: 'rgb(255, 255, 255)',  // fondo blanco para la firma
            });
        
            function saveSignature() {
                if (signaturePad.isEmpty()) {
                    alert("Por favor, proporciona una firma primero.");
                    return;
                }
                var dataURL = signaturePad.toDataURL("image/png");
                document.getElementById('signature-data').value = dataURL;
            }
        
            document.querySelector('button').addEventListener('click', saveSignature);
        };
    </script>
{% endblock %}
