{% extends "got/base_generic.html" %}

{% block headtag %}
<style>
    .table-responsive {
        max-height: 400px; /* Ajusta esta altura según lo necesites */
        overflow-y: auto;
        position: relative;
    }

    .table thead th {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: white; /* Asegúrate de que el fondo del encabezado sea blanco */
    }

    .table thead th {
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    }
</style>
{% endblock %}

{% block header %}
    {{ asset.name }}
{% endblock %}

{% block content %}
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                {% for year, months_in_year in year_months.items %}
                    <th colspan="{{ months_in_year|length }}" style="text-align: center;">{{ year }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th>Sistemas</th>
                <th>Rutinas</th>
                <th>Reps</th>
                {% for month in months %}
                    <th>{{ month }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for system, routines in routines_by_system.items %}
                {% if routines %}
                    <tr>
                        <td rowspan="{{ routines|length }}">{{ system.name }}</td>
                        {% for routine_info in routines %}
                            {% if not forloop.first %}
                                </tr><tr>
                            {% endif %}
                            <td>{{ routine_info.routine.name }}</td>
                            <!-- <td>{{ routine_info.routine.name }}</td> -->
                            <td>{{ routine_info.repeticiones }}</td>
                            {% for month_with_year in months_with_year %}
                                <td {% if month_with_year in routine_info.meses_ejecucion %} style="background-color: #f0ad4e;" {% endif %}>-</td>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
