{% extends "preoperacional/base.html" %} {% block title %}Vehiculo no encontrado{% endblock %} {% block content %}
<!-- Content -->
<div class="w-full max-w-md rounded-lg bg-white p-8 text-center shadow-md justify-center mx-auto mt-10">
    <h1 class="mb-4 text-2xl font-semibold text-red-600">Vehículo no encontrado</h1>
    <p class="mb-6 text-lg text-gray-700">Lo sentimos, no pudimos encontrar un vehículo con ese código. Por favor,
        verifica el código e inténtalo de nuevo.</p>
    <a href="{% url 'preoperacionales:admin' %}"
        class="inline-block rounded-lg bg-blue-600 px-6 py-2 text-lg text-white hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800">
        Volver al administrador
    </a>
</div>
{% endblock %}