<!-- Metadatos  -->
<meta charset="utf-8">
<meta name="author" content="Dylan Medina">
<meta name="description" content="Software de mantenimiento hivik">
<meta name="keywords" content="Serport, Mantenimiento, actividades, activos">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Titulo -->
<title>
    GOT
</title>
<link rel="manifest" href="{% url 'got:manifest' %}">
<link rel="icon" type="image/png" sizes="32x32" href="https://hivik.s3.us-east-2.amazonaws.com/static/Outlook-fdeyoovu.png">

<!-- Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<!-- Google Fonts Poppins -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" href="https://hivik.s3.us-east-2.amazonaws.com/static/boostrap/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Anton%7CBaskervville%7CRaleway&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Tema Bootstrap 5 para Flatpickr (opcional, para que coincida con el estilo de Bootstrap) -->
<link rel="stylesheet" href="https://npmcdn.com/flatpickr@4.6.13/dist/themes/bootstrap5/bootstrap5.min.css">

<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<style>
    /* Variables y Colores */
    :root {
        --color-primary: #191645;
        --color-aux: #0157a4;
        --color-secondary: #43C6AC;

        --color-approved: #86e49d;
        --color-closed: #d893a3;
        --color-pending: #ebc474;
        --color-shipped: #6fcaea;
        --color-exe: #6f79ea;

        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #191645;
        --bs-btn-active-border-color: #191645;

        --color-no-aprobado: #d78147; /* Orange */
        --color-aprobado: #f5da81; /* Yellow */
        --color-cancelado: #d893a3; /* Red */
        --color-tramitado: #6fcaea; /* Blue */
        --color-parcialmente: #8a2be2; /* Violet */
        --color-recibido: #86e49d; /* Green */
    }

    .card-alineada {
        max-width: 100%;
        width: 100%;
        /* Para pantallas grandes, limita el ancho máximo y centra el cuadro */
    }

    @media (min-width: 992px) {
        .card-alineada {
            max-width: 960px; /* Ajusta este valor al ancho de tu tabla si es diferente */
            margin-left: auto;
            margin-right: auto;
        }
    }

    .tabla-alineada {
        max-width: 100%;
        width: 100%;
    }

    @media (min-width: 992px) {
        .tabla-alineada {
            max-width: 960px; /* Debe ser el mismo valor que usaste para el cuadro */
            margin-left: auto;
            margin-right: auto;
        }
    }


    /* Add classes for the new statuses */
    .no-aprobado {
        background-color: var(--color-no-aprobado);
    }

    .aprobado {
        background-color: var(--color-aprobado);
    }

    .cancelado {
        background-color: var(--color-cancelado);
    }

    .tramitado {
        background-color: var(--color-tramitado);
    }

    .parcialmente {
        background-color: var(--color-parcialmente);
    }

    .recibido {
        background-color: var(--color-recibido);
    }

    /* Estilos Globales */
    * {
        margin: 0;
        font-family: "Poppins", sans-serif;
        color: var(--color-primary);
        box-sizing: border-box;
    }

    h1 {
        margin-top: 15px;
        color: var(--color-primary);
    }

    h4 {
        font-weight: bold;
    }

    .btn-add-table {
        background-color: transparent;
        color: #fff;
        border: none;
    }

    .btn-add-table:hover {
        color: #43c6ac;
    }

    .image-container {
        height: 500px;
        overflow: hidden;
        position: relative;
        background-color: #f8f9fa;
        border: 2px solid #000;
        border-radius: 10px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-container img {
        height: 100%;
        width: auto;
        object-fit: contain;
    }

    /* Estilos de Navegación */
    .navbar {
        background-color: var(--color-primary);
    }

    .navbar .nav-link,
    .nav a,
    .nav button {
        color: #fff;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show,
    .nav-link:hover,
    .nav-link:focus {
        color: var(--color-secondary);
        background-color: transparent;
    }

    .navbar-toggler-icon {
        background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(255, 255, 255, 0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
    }

    .nav {
        background-color: var(--color-aux);
        width: 100%;
        min-height: 40px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 0px;
        border-bottom: 1px solid var(--color-primary);
    }

    .nav .nav-item:hover {
        background-color: var(--color-primary);
    }

    .nav-item {
        flex: 1 1 auto;
        display: flex;
        position: relative;
    }

    .nav-link {
        flex: 1 1 auto;
        display: flex;
        align-items: center; 
        justify-content: center;
        padding: 0.5rem;
        text-align: center;
        text-decoration: none;
        height: 100%;
    }

    .nav-link.active {
        color: var(--color-secondary);
        border-bottom: 3px solid var(--color-secondary);
        background-color: var(--color-primary);
    }

    .nav-link:hover,
    .nav-link:focus {
        color: var(--color-secondary);
        background-color: var(--color-primary);
        text-decoration: none;
    }

    .nav-item:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0;
        top: 10%;
        height: 80%;
        width: 1px;
        background-color: var(--color-secondary);
        opacity: 0.6;
    }

    @media (max-width: 768px) {
        .nav {
            flex-direction: column;
        }

        .nav-item {
            width: 100%;
        }
    }

    .page-link {
        color: var(--color-primary);
    }

    .pagination {
        --bs-pagination-active-bg: var(--color-primary);
    }

    tr[data-href] {
        cursor: pointer;
    }

    /* Estilos de la Sección listado de Activos */
    .assets-item {
        break-inside: avoid;
        margin-bottom: 1rem;
        box-sizing: border-box;
    }

    .assets-masonry {
        column-gap: 1rem;
    }

    @media (min-width: 1200px) {
        .assets-masonry {
            column-count: 3;
        }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        .assets-masonry {
            column-count: 2;
        }
    }

    @media (max-width: 767px) {
        .assets-masonry {
            column-count: 1;
        }
    }

    /* Estilos de la Sección detalle de Activos */
    .main-asset {
        display: grid;
        grid-template-columns: 2.2fr 0.8fr;
        gap: 10px;
        grid-template-areas:
            "sistemas detail"
            "ruta acciones"
    }

    .main-asset .info-asset {
        grid-area: detail;
    }

    .main-asset .sistemas {
        grid-area: sistemas;
    }

    .main-asset .rutinas {
        grid-area: ruta;
    }

    .main-asset .acciones {
        grid-area: acciones;
    }

    .grafica-consumos {
        grid-area: g-com;   
    }

    .grafica-horas {
        grid-area: g-hor;  
    }

    .filter-form {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
        width: 100%;
    }

    /* Estilos de la Sección detalle de Reportes de falla */
    .carousel-indicators [data-bs-target] {
        width: 60px;
        height: 60px;
        border-radius: 5px;
        overflow: hidden;
        border: none;
        margin: 5px;
    }
    
    .carousel-indicators [data-bs-target] img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .carousel-indicators .active {
        border: 2px solid #0d6efd; 
    }

    /* Contenedor flex para las gráficas */
    .grafica-container {
        display: flex;
        justify-content: space-between; /* Distribuye el espacio entre las gráficas */
        flex-wrap: wrap; /* Permite que las gráficas se ajusten en pantallas pequeñas */
        gap: 20px; /* Espacio entre las gráficas */
        margin-bottom: 20px;
    }

    /* Gráficas individuales */
    .grafica-consumos, .grafica-horas {
        flex: 1 1 45%; /* Ocupa el 45% del ancho del contenedor, permitiendo espacio entre ellas */
        min-width: 300px; /* Asegura que no sean demasiado pequeñas en pantallas pequeñas */
    }

    /* En pantallas pequeñas, apila las gráficas una debajo de la otra */
    @media (max-width: 768px) {
        .grafica-container {
            flex-direction: column; /* Cambia la dirección a columna */
            align-items: center; /* Centra las gráficas horizontalmente */
        }

        .grafica-consumos, .grafica-horas {
            width: 100%; /* Cada gráfica ocupa el 100% del ancho disponible en pantallas pequeñas */
        }
    }


    /* Otros */
    .status {
        padding: 0.3rem;
        border-radius: 3rem;
        text-align: center;
        color: #191645;
        font-size: 0.7rem;
    }

    button.loading {
        background-color: #ccc;
        cursor: not-allowed;
    }

    .signature-pad {
        border: 1px solid #000;
        border-radius: 4px;
        touch-action: none;
    }

    .red-strong {
        color: red;
        font-weight: bold;
    }

    .finished {
        background-color: var(--color-approved);
    }

    .exe {
        background-color: var(--color-exe);
    }

    .close {
        background-color: var(--color-closed);
    }

    .pending {
        background-color: var(--color-pending);
    }

    .shipped {
        background-color: var(--color-shipped);
    }

    .table-list {
        border-collapse: collapse;
        margin: 0;
        font-size: 0.85em;
        overflow: visible;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .table-list thead tr:first-child th {
        background-color: var(--color-primary);
        padding: 10px;
    }

    .sys .table-list {
        margin: 0;
    }

    .main-asset .table-list thead tr:first-child th,
    .main-info-sys .table-list thead tr:first-child th {
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
    }

    .table-list thead .add:hover {
        color: #43C6AC;
    }

    .table-list thead tr th {
        background-color: var(--color-aux);
        color: #fff;
    }

    .table-list th,
    .table-list td,
    .deta th,
    .deta td {
        padding: 8px;
    }

    .table-list td {
        vertical-align: top;
    }

    .table-list tbody tr {
        border-bottom: 1px solid #ddd;
    }


    .table-list tbody tr:hover td,
    .table-list tbody tr:hover td strong {
        color: var(--color-secondary);
    }

    .main-info-sys .table-list tbody tr:hover td {
        color: var(--color-primary);
    }

    .table-list tbody tr:nth-of-type(even) {
        background-color: #E8E8EC;
    }

    .table-list tbody tr:last-of-type {
        border-bottom: 2px solid var(--color-secondary);
    }

    .table-list tbody tr:hover .status {
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.34);
    }

    .nowrap {
        white-space: nowrap;
    }

    caption {
        color: white;
        text-align: center;
        background-color: hsl(0 0% 0%);
        text-transform: uppercase;
        font-weight: 700;
    }

    .btn-primary {
        background-color: var(--color-secondary);
        border-color: var(--color-secondary);
        color: var(--color-primary);
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        color: #FFF;
    }

    .btn-group {
        margin-top: 5px;
    }

    .input-group {
        min-width: 360px;
    }

    .dropdown-item:hover {
        background-color: var(--color-secondary);
        color: var(--color-primary);
    }

    td .dropdown-menu {
        min-width: 0;
        font-size: 0.8rem;
    }

    td .dropdown-item {
        padding: 4px 6px;
    }

    .detail {
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        grid-template-areas:
            "title title title"
            "ot-detail tasks tasks"
            "add-info tasks tasks"
            ". tasks tasks";
    }

    .detail .title {
        grid-area: title;
    }

    .detail .ot-detail {
        grid-area: ot-detail;
    }

    .detail .add-info {
        grid-area: add-info;
    }

    .detail .tasks {
        grid-area: tasks;
    }

    .table-detail {
        width: 100%;
    }

    .add-more {
        background-color: transparent;
        color: var(--color-primary);
        border: none;
        margin-left: 15px;
    }

    .add-more:hover {
        color: #43c6ac;
    }

    #asset {
        width: 350px;
        height: 300px;
        object-fit: cover;
    }

    .info-special {
        text-align: center;
        background-color: #191645;
        color: #fff;
        font-weight: bold;
        font-size: 1.2em;
        padding: 10px;
    }

    .sys {
        margin: 15px;
        display: grid;
        grid-template-columns: 0.6fr 1.2fr 1.2fr;
        gap: 10px;
        grid-template-areas:
            "title-sys title-sys title-sys"
            "nav-sys main-info-sys main-info-sys"
            "nav-sys main-info-sys main-info-sys"
            ". main-info-sys main-info-sys";
    }

    .title-sys {
        grid-area: title-sys;
    }

    .nav-sys {
        grid-area: nav-sys;
        height: 100%;
        border: 1px solid #191645;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    }

    .main-info-sys {
        grid-area: main-info-sys;
    }

    .timeline {
        /* margin: 20px; */
        padding: 0;
    }

    .list-group-item {
        margin-bottom: 5px;
        border-left: 3px solid #007BFF;
        /* Cambia el color según el estado o preferencia */
    }

    .list-group-item-action:hover {
        background-color: #f8f9fa;
        border-left: 3px solid #0056b3;
    }

    .nav-sys ul {
        text-align: center;
        padding-left: 0;
    }

    h5 {
        margin: 0;
    }

    .nav-sys li:first-child {
        border-radius: 10px 10px 0 0;
    }

    .sys .tit {
        background-color: #ddd;
    }

    .nav-sys li {
        list-style: none;
        padding-top: 6px;
        padding-bottom: 6px;
        border-bottom: 1px solid #bbb;

        /* margin-bottom: 5px; */
    }

    .sys li {
        list-style: none;
    }

    .terminar {
        background: none;
        border: 0;
        color: white;
        padding: 8px;
        /* font-weight: 500; */
        /* font-size: 0.8rem; */
        /* letter-spacing: 0.5px; */
        /* text-transform: uppercase; */
    }

    .terminar:hover {
        color: var(--color-secondary);
        background-color: none;
    }

    .detail-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .detail-key {
        flex: 1;
        text-align: left;
        font-weight: bold;
        /* Hace que la clave sea negrita */
    }

    .detail-value {
        flex: 2;
        text-align: left;
        /* Alinea los valores a la izquierda */
    }

    .detail-item {
        margin-bottom: 10px;
    }

    ul.card-text {
        padding: 0;
        list-style: none;
        /* Elimina los marcadores de lista */
    }

    .card h4 {
        margin-bottom: 0;
    }

    .details-container {
        display: flex;
        justify-content: space-between;
    }

    .details-column {
        flex: 1;
    }

    .card {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    }

    .card-text {
        font-size: 0.9rem;
        /* Disminuye el tamaño de la letra */
    }

    /* Estilos para las miniaturas de vista previa */
    .preview-container {
        height: 480px;
        /* Igual a la altura de la imagen principal */
        overflow-y: auto;
        /* Añade desplazamiento vertical si se supera la altura */
    }

    .preview-thumbnail img {
        cursor: pointer;
        width: 100%;
        border: 0.2px solid #ccc;
        border-radius: 5px;
    }

    /* Ocultar las barras de desplazamiento en algunos navegadores */
    .preview-container::-webkit-scrollbar {
        width: 8px;
    }

    .preview-container::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
    }

    .preview-container::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }



    .deta th {
        background-color: var(--color-primary);
        padding: 10px;
        color: white;
        text-align: center;
        font-weight: bold;
    }

    .deta tbody tr:nth-child(4n+1),
    .deta tbody tr:nth-child(4n+2) {
        background-color: #f2f2f2;
    }

    .deta tbody tr:nth-child(4n+3),
    .deta tbody tr:nth-child(4n+4) {
        background-color: #ddd;
    }

    .deta tbody tr {
        border-bottom: none;
    }

    .status-gradient {
        background-image: linear-gradient(to right, red, yellow, green);
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
    }

    .status-gradient span {
        display: block;
        text-align: center;
    }


    @media (max-width: 780px) {

        .main-asset {
            margin: 10px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            grid-template-areas:
                "title"
                "sistemas"
                "ruta"
                "detail";
        }

        .sys {
            margin: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            grid-template-areas:
                "title-sys title-sys"
                "main-info-sys main-info-sys"
                "main-info-sys main-info-sys"
                "nav-sys .";
        }
    }

    @media (max-width: 650px) {

        .detail {
            grid-template-columns: 90vw;
            gap: 10px;
            grid-template-areas:
                "title"
                "ot-detail"
                "tasks"
                "add-info";
        }

        .main-asset .nav {
            flex-direction: column;
        }

        .btn-group {
            width: 100%;
            height: 80%;
        }

        .table-list {
            width: 100%;
        }

        .table-list th,
        .info-asset .table-info th {
            display: none;
        }

        .table-detail thead tr:first-child th {
            display: table-cell;
        }

        .table-list td {
            display: grid;
            gap: 0.4rem;
            grid-template-columns: 15ch auto;
            padding: 0.5rem 1rem;
            border-bottom: none;
        }

        .table-list td:first-child {
            padding-top: 1.8rem;
        }

        .table-list td[data-cell]::before {
            content: attr(data-cell) ": ";
            font-weight: 700;
        }

        .no-display {
            display: none;
        }

        .table-list tr .visible {
            display: table-cell;
        }

        .table-list td:last-child {
            padding-bottom: 2rem;
        }
    }

    .bottom-line {
        margin-top: 25px;
    }

    a {
        text-decoration: none;
        /* Elimina la línea de abajo */
        color: #191645;
        /* Color del texto */
    }

    a:hover {
        background-color: transparent;
        color: #43C6AC;
    }

    .radioOptions {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .radioOptions label {
        margin-right: 5px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .btn-group-toggle {
        display: flex;
        gap: 10px;
    }

    .btn-group-toggle label {
        background-color: #f8f9fa;
        color: #495057;
        border: 1px solid #ced4da;
        padding: 0.375rem 0.75rem;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    .btn-group-toggle label:hover {
        background-color: #e9ecef;
    }

    .btn-group-toggle input[type="radio"]:checked+label {
        background-color: #007bff;
        color: white;
    }

    legend {
        font-size: 16px;
    }


    @media (width> 650px) {

        .adap {
            width: 50%;
            border: 0.4px #666 solid;
            border-radius: 10px;
            padding: 2rem;
            margin: auto;
        }
    }

    @media (max-width: 650px) {
    /* ... estilos existentes ... */

    .table-list td.full-width-cell {
        display: block;
        grid-template-columns: none; /* Elimina las columnas de grid */
        padding: 0.5rem 1rem;
    }

    .table-list td.full-width-cell::before {
        content: attr(data-cell);
        font-weight: 700;
        display: block;
        margin-bottom: 0.5rem;
    }

    .table-list td.full-width-cell > * {
        width: 100%;
    }

    .table-list td.full-width-cell h6 {
        margin-top: 0;
    }

    /* Estilos para evitar el desbordamiento de la celda "Solicitud" */
    .table-list td.ot-cell {
        word-wrap: break-word;
        word-break: break-word;
        white-space: normal;
        max-width: 300px; /* Puedes ajustar este valor según tus necesidades */
    }
}

/* Estilos para evitar el desbordamiento de la celda "Solicitud" */
.table-list td.solicitud-cell {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    max-width: 300px; /* Puedes ajustar este valor según tus necesidades */
}



</style>