{% load my_tags %}
{% obtener_asset_del_supervisor as asset_del_supervisor %}
{% obtener_vehiculos as vehiculos %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <img src="https://hivik.s3.us-east-2.amazonaws.com/static/Logo-gris.png" width="150px">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- Dropdown de Mantenimiento -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name in 'maintenance_dashboard' %}active{% endif %}" href="#" id="maintenanceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mantenimiento
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="maintenanceDropdown">
                        {% if request.user|has_group:"super_members" or request.user|has_group:"gerencia" %}
                            <li><a class="dropdown-item" href="{% url 'got:maintenance_dashboard' %}">Barcos</a></li>
                            <li><a class="dropdown-item" href="{% url 'got:vehiculosmtto' %}">Vehiculos</a></li>
                        {% endif %}
                        {% if request.user|has_group:"super_members" or request.user|has_group:"gerencia" or request.user|has_group:"buzos_members" %}
                            <li><a class="dropdown-item" href="{% url 'got:buceomtto' %}">Buceo</a></li>
                            <li><a class="dropdown-item" href="{% url 'got:dashboard' %}">Indicadores</a></li>
                        {% endif %}
                        {% if perms.got.view_task %}
                            <li><a class="dropdown-item" href="{% url 'got:my-tasks' %}">Actividades</a></li>
                        {% endif %}
                        {% if perms.got.view_ot %}
                            <li><a class="dropdown-item" href="{% url 'got:ot-list' %}">Ordenes de trabajo</a></li>
                        {% endif %}
                        {% if perms.got.view_failurereport %}
                            <li><a class="dropdown-item" href="{% url 'got:failure-report-list' %}">Reportes de fallas</a></li>
                        {% endif %}
                    </ul>
                </li>
          
                {% if asset_del_supervisor %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == asset_del_supervisor.get_absolute_url %}active{% endif %}" href="{{ asset_del_supervisor.get_absolute_url }}">
                            {{ asset_del_supervisor.name }}
                        </a>
                    </li>
                {% elif perms.got.view_asset %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'asset-list' %}active{% endif %}" href="{% url 'got:asset-list' %}">
                            Equipos
                        </a>
                    </li>
                {% endif %}

                {% if perms.got.view_solicitud %}
                    <li class="nav-item">
                        <a class="position-relative nav-link {% if request.resolver_match.url_name == 'rq-list' %}active{% endif %}" href="{% url 'got:rq-list' %}">
                            Solicitudes
                        </a>
                    </li>
                {% endif %}

                {% if perms.got.view_operation %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'operation-list' %}active{% endif %}" href="{% url 'got:operation-list' %}">
                            Proyectos
                        </a>
                    </li>
                {% endif %}

                {% if perms.got.view_salida %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'outbound-list' %}active{% endif %}" href="{% url 'outbound:outbound-list' %}">
                            Salidas
                        </a>
                    </li>
                {% endif %}

                {% if request.user|has_group:"maq_members" %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'overtime_report' %}active{% endif %}" href="#" id="overtimeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Horas extras
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="overtimeDropdown">
                            <li><a class="dropdown-item" href="{% url 'overtime:overtime_report' %}">Reportar horas extras</a></li>
                            <li><a class="dropdown-item" href="{% url 'overtime:overtime_list' %}">Mis reportes</a></li>
                        </ul>
                    </li>
                {% elif perms.got.view_overtime %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'overtime_list' %}active{% endif %}" href="{% url 'overtime:overtime_list' %}">
                            Horas extras
                        </a>
                    </li>
                {% endif %}
            
                {% if request.user|has_group:"super_members" or request.user|has_group:"gerencia" %}
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'budget_summary_by_asset' %}active{% endif %}" href="{% url 'got:budget_summary_by_asset' %}">
                        Presupuesto
                    </a>
                </li>
                {% endif %}

                {% if request.user|has_group:"super_members" or request.user|has_group:"gerencia" %}
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'asset_list' %}active{% endif %}" href="{% url 'inv:asset_list' %}">
                        Inventario
                    </a>
                </li>
                {% endif %}
                
                <!-- Dropdown de Vehículos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle custom-dropdown" href="#" id="vehiclesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Vehículos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="vehiclesDropdown">
                        {% for vehiculo in vehiculos %}
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#vehiculoModal{{ vehiculo.code }}">
                                    {{ vehiculo.system.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarUserMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.first_name }} {{ user.last_name }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUserMenu">
                        <li><strong class="dropdown-header">{{ user.first_name }} {{ user.last_name }}</strong></li>
                        <li><span class="dropdown-item-text">{{ user.profile.cargo }}</span></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><span class="dropdown-item-text">{{ user.email }}</span></li>
                        <li><hr class="dropdown-divider"></li>
                        {% if request.user|has_group:"buzos_members" %}
                            <li><span class="dropdown-item-text"><strong>Estación:</strong> {{ user.profile.station }}</span></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'got:profile_update' %}">Actualizar Información</a></li>
                        <li>
                            <form action="{% url 'logout' %}" method="post" class="dropdown-item">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link" style="color: inherit; padding: 0;">Cerrar Sesión</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
      </div>
</nav>


{% for vehiculo in vehiculos %}
<!-- Modal para {{ vehiculo.name }} -->
<div class="modal fade" id="vehiculoModal{{ vehiculo.code }}" tabindex="-1" aria-labelledby="vehiculoModalLabel{{ vehiculo.code }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{ vehiculo.name }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <a href="{% url 'preoperacionales:preoperacional-dia' vehiculo.code %}" class="btn btn-primary">Preoperacional</a>
            <a href="{% url 'preoperacionales:preoperacional-especifico' vehiculo.code %}" class="btn btn-secondary">Salida</a>
        </div>
      </div>
    </div>
</div>
{% endfor %}
