{% load my_tags %}
{% obtener_asset_del_supervisor as asset_del_supervisor %}

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <img src="https://hivik.s3.us-east-2.amazonaws.com/static/Logo-gris.png" width="150px">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {% if asset_del_supervisor %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == asset_del_supervisor.get_absolute_url %}active{% endif %}" href="{{ asset_del_supervisor.get_absolute_url }}">
                            {{ asset_del_supervisor.name }}
                        </a>
                    </li>
                {% elif perms.got.view_asset %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'asset-list' %}active{% endif %}" href="{% url 'got:asset-list' %}">
                            Equipos
                        </a>
                    </li>
                {% endif %}

                {% if perms.got.view_task %}
                    <li class="nav-item">
                        <a class="nav-link  {% if request.resolver_match.url_name == 'my-tasks' %}active{% endif %}" href="{% url 'got:my-tasks' %}">
                            Actividades
                        </a>
                    </li>
                {% endif %}
                
                {% if perms.got.view_ot %}
                    <li class="nav-item">
                        <a class="nav-link  {% if request.resolver_match.url_name == 'ot-list' %}active{% endif %}" href="{% url 'got:ot-list' %}">
                            Ordenes de trabajo
                        </a>
                    </li>
                {% endif %}

                {% if perms.got.view_failurereport %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'failure-report-list' %}active{% endif %}" href="{% url 'got:failure-report-list' %}">
                            Reportes de fallas
                        </a>
                    </li>
                {% endif %}

                {% if perms.got.view_solicitud %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'rq-list' %}active{% endif %}" href="{% url 'got:rq-list' %}">
                            Solicitudes
                        </a>
                    </li>
                {% endif %}

                <!-- {% if request.user|has_group:"super_members" or request.user|has_group:"gerencia" %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'ruta-list' %}active{% endif %}" href="{% url 'got:ruta-list' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Rutinas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'got:ruta-list' %}">Barcos</a></li>
                            <li><a class="dropdown-item" href="{% url 'got:buceomtto' %}">Buceo</a></li>
                        </ul>
                    </li>
                {% endif %} -->

                {% if request.user|has_group:"super_members" or request.user|has_group:"gerencia" %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'got:dashboard' %}">
                            Indicadores
                        </a>
                    </li>
                {% endif %}

                {% if perms.got.view_operation %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'operation-list' %}active{% endif %}" href="{% url 'got:operation-list' %}">
                            Proyectos
                        </a>
                    </li>
                {% endif %}

                {% if perms.got.view_salida %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'salida-list' %}active{% endif %}" href="{% url 'got:salida-list' %}">
                            Salidas
                        </a>
                    </li>
                {% endif %}
              </ul>

              <!-- Boton de logout -->
            <form class="d-flex" action="{% url 'logout' %}" method="post">{% csrf_token %}
                <button class="terminar" type="submit">{{ user.first_name }} {{ user.last_name }}</button>
            </form>
        </div>
      </div>
</nav>
