{% load my_tags %}
{% obtener_asset_del_supervisor as asset_del_supervisor %}

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <img src="https://hivik.s3.us-east-2.amazonaws.com/static/Logo-gris.png" width="150px">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {% if request.user|has_group:"super_members" or request.user|has_group:"gerencia" %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle 
                        {% if request.resolver_match.url_name == 'maintenance_dashboard' or request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mantenimiento
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'got:maintenance_dashboard' %}">Barcos</a></li>
                            <li><a class="dropdown-item" href="{% url 'got:buceomtto' %}">Buceo</a></li>
                            <li><a class="dropdown-item" href="{% url 'got:dashboard' %}">Indicadores</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if asset_del_supervisor %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == asset_del_supervisor.get_absolute_url %}active{% endif %}" href="{{ asset_del_supervisor.get_absolute_url }}">
                            {{ asset_del_supervisor.name }}
                        </a>
                    </li>
                {% elif perms.got.view_asset %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'asset-list' %}active{% endif %}" href="{% url 'got:asset-list' %}">
                            Equipos
                        </a>
                    </li>
                {% endif %}

                {% if perms.got.view_task %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'my-tasks' %}active{% endif %}" href="{% url 'got:my-tasks' %}">
                            Actividades
                        </a>
                    </li>
                {% endif %}
                
                {% if perms.got.view_ot %}
                    <li class="nav-item">
                        <a class="nav-link  {% if request.resolver_match.url_name == 'ot-list' %}active{% endif %}" href="{% url 'got:ot-list' %}">
                            Ordenes de trabajo
                        </a>
                    </li>
                {% endif %}

                {% if perms.got.view_failurereport %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'failure-report-list' %}active{% endif %}" href="{% url 'got:failure-report-list' %}">
                            Reportes de fallas
                        </a>
                    </li>
                {% endif %}

                {% if perms.got.view_solicitud %}
                    <li class="nav-item">
                        <a class="position-relative nav-link {% if request.resolver_match.url_name == 'rq-list' %}active{% endif %}" href="{% url 'got:rq-list' %}">
                            Solicitudes
                        </a>
                    </li>
                {% endif %}

                {% if perms.got.view_operation %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'operation-list' %}active{% endif %}" href="{% url 'got:operation-list' %}">
                            Proyectos
                        </a>
                    </li>
                {% endif %}

                {% if perms.got.view_salida %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'salida-list' %}active{% endif %}" href="{% url 'got:salida-list' %}">
                            Salidas
                        </a>
                    </li>
                {% endif %}

                {% if perms.got.view_overtime %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'overtime_list' %}active{% endif %}" href="{% url 'overtime:overtime_list' %}">
                            Horas extras
                        </a>
                    </li>
                {% endif %}

                {% if request.user|has_group:"maq_members" %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'overtime_report' %}active{% endif %}" href="{% url 'overtime:overtime_report' %}">
                            Horas extras
                        </a>
                    </li>
                {% endif %}
              </ul>

              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarUserMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.first_name }} {{ user.last_name }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUserMenu">
                        <li><strong class="dropdown-header">{{ user.first_name }} {{ user.last_name }}</strong></li>
                        <li><span class="dropdown-item-text">{{ user.profile.cargo }}</span></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><span class="dropdown-item-text">{{ user.email }}</span></li>
                        <li><hr class="dropdown-divider"></li>
                        {% if request.user|has_group:"buzos_members" %}
                            <li><span class="dropdown-item-text"><strong>Estación:</strong> {{ user.profile.station }}</span></li>
                        {% endif %}
                        <li><span class="dropdown-item-text"><strong>Cédula:</strong> {{ user.profile.cedula }}</span></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'got:profile_update' %}">Actualizar Información</a></li>
                        <li>
                            <form action="{% url 'logout' %}" method="post" class="dropdown-item">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link" style="color: inherit; padding: 0;">Cerrar Sesión</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
      </div>
</nav>


