{% extends "got/base_generic.html" %}

{% block header %}
    Salidas de materiales 
{% endblock %}

{% block content %}

<aside>

    <div class="btn-group box-shadow" role="group">
        <a class="btn btn-primary" href="{% url 'got:item_management' %}">Articulos</a>
    </div>

    <!-- Formulario de Filtro -->
    <form method="GET" action="" class="form-inline mt-3">
        <div class="row g-2">
            <div class="col-md-2">
                <input type="text" name="destino" class="form-control" placeholder="Destino" value="{{ request.GET.destino }}">
            </div>
            <div class="col-md-2">
                <input type="date" name="fecha" class="form-control" placeholder="Fecha" value="{{ request.GET.fecha }}">
            </div>
            <div class="col-md-2">
                <input type="text" name="motivo" class="form-control" placeholder="Motivo" value="{{ request.GET.motivo }}">
            </div>
            <div class="col-md-2">
                <input type="text" name="propietario" class="form-control" placeholder="Propietario" value="{{ request.GET.propietario }}">
            </div>
            <div class="col-md-2">
                <input type="text" name="adicional" class="form-control" placeholder="Adicional" value="{{ request.GET.adicional }}">
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </div>
    </form>
</aside>

<table class="table-list deta mt-4">
    <thead>
        <tr>
            <th scope="col">Salidas</th>
            <th scope="col" class="nowrap">Destino</th>
            <th scope="col">Responsable</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for rq in salida_list %}
            <tr>
                <td data-cell="Justificación">
                    <h6 id="{{ rq.id }}">
                        {{ rq.id }} - {{ rq.motivo }}
                    </h6>
                </td>
                <td data-cell="Destino" class="nowrap"><strong>{{ rq.destino }}</strong></td>
                <td data-cell="Responsable" class="nowrap">{{ rq.responsable }}/ {{ rq.recibe}}</td>
                <td data-cell="Estado">
                    <div class="dropdown">
                        <button class="btn status {% if rq.auth %}finished{% elif not rq.sign_recibe %}exe{% else %}close{% endif %} btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if rq.auth %}Aprobado{% elif not rq.sign_recibe %}Por firmar{% else %}No aprobado{% endif %}
                        </button>

                    </div>
                </td>
            </tr>


            <tr>
                <td colspan="2">
                    {% if rq.adicional %}
                    {{ rq.adicional|linebreaks }} 
                    {% endif %}
                    <ul>
                        {% for suministro in rq.suministros.all %}
                            <li onclick="openModal{{ suministro.id }}()" style="cursor: pointer;">
                                {{ suministro.cantidad }} {{ suministro.item.presentacion }} {{ suministro.item.name }} {{ suministro.item.reference }} - {{ suministro.item.code }}
                            </li>
                            <div class="modal fade" id="itemModal{{ suministro.id }}" tabindex="-1" aria-labelledby="itemModalLabel{{ suministro.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="itemModalLabel{{ suministro.id }}">{{ suministro.item.name }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {% if suministro.item.imagen %}
                                                <img src="{{ suministro.item.imagen.url }}" alt="Imagen de {{ suministro.item.name }}" class="img-fluid">
                                            {% endif %}
                                            <p>Referencia: {{ suministro.item.reference }}</p>
                                            <p>Presentación: {{ suministro.item.presentacion }}</p>
                                            <p>Código: {{ suministro.item.code }}</p>
                                            <p>Sección: {{ suministro.item.get_seccion_display }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                function openModal{{ suministro.id }}() {
                                    new bootstrap.Modal(document.getElementById('itemModal{{ suministro.id }}')).show();
                                }
                            </script>
                        {% endfor %}
                    </ul>
                </td>
                <td colspan="2">
                    <strong>Fecha: {{ rq.fecha }}</strong>
                    <strong>Vehiculo: {{ rq.vehiculo }}</strong>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">No hay reportes de salida registradas.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}



