{% extends "got/base/base_generic.html" %}
{% load my_tags %}

{% block content %}
<main class="container">
    <h1>Listado de activos</h1>

    <!-- {% if request.user|has_group:"super_members" or request.user|has_group:"gerencia" %}
        <a href="{% url 'got:managerial_report' %}" class="btn btn-success">Reporte gerencial</a>
    {% endif %} -->
    <div class="assets-masonry">
        {% for area, assets in assets_by_area.items %}
            {% if assets %}
                <div class="assets-item">
                    <h4>{{ area }}</h4>
                    <table class="table-list">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Supervisor</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for asset in assets %}
                            <tr data-href="{{ asset.get_absolute_url }}">
                                <td data-cell="Nombre">{{ asset.abbreviation }} - {{ asset.name }}</td>
                                <td data-cell="Supervisor" class="nowrap">{{ asset.supervisor.get_full_name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</main>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const rows = document.querySelectorAll("tr[data-href]");

		rows.forEach(row => {
			row.addEventListener("click", () => {
				window.location.href = row.dataset.href;
			})
		})
	})
</script>
{% endblock %}
