{% extends "got/assets/asset_base.html" %}
{% block asset %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="main-asset">

<div class="sistemas">
	    <table class="table-list table-detail">
			<thead>
				<tr>
				    <th colspan="{% if asset.area == 'a' %}4{% else %}5{% endif %}">
					    Sistemas 
                        {% if perms.got.add_system %}
                            <button type="button" class="btn-add-table" data-bs-toggle="modal" data-bs-target="#sysModal">
                                <i class="bi bi-plus-circle"></i>
                            </button>
					    {% endif %}
                        <a class="btn-add-table" href="{% url 'got:managerial_asset_report' asset.abbreviation %}">
                            <i class="bi bi-download"></i>
                        </a>
				    </th>
			    </tr>
			    <tr>
				    <th scope="col"></th>
					<th scope="col">Nombre</th>
				    <th scope="col">Estado</th>
				</tr>
			</thead>
		    <tbody>
				{% for sys in page_obj %}
			        <tr>
					    <td scope="row">{{ forloop.counter }}</td>
					    <td data-cell="Sistema">
					        <a href="{{ sys.get_absolute_url }}?next={{ request.path }}">{{sys.name}}</a>
				        </td>
					    <td data-cell="Estado">
					        <div class="dropdown">
						        <button class="btn status 
                                    {% if sys.state == 'o' %}green-state
                                    {% elif sys.state == 'm' %}orange-state
                                    {% elif sys.state == 's' %}blue-state
                                    {% else %}red-state{% endif %} btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
								    {{ sys.get_state_display }}
							    </button>
							    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							        <li>
								        <a class="dropdown-item" href="{{ sys.get_absolute_url }}?next={{ request.path }}">Ver detalle</a>
							        </li>
		    				        {% if perms.got.change_system %}
							            <li>
								            <a class="dropdown-item" href="{% url 'got:sys-update' sys.id %}">Editar</a>
							            </li>
							        {% endif %}
                                    {% if perms.got.delete_system %}
                                        <li>
                                            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteSysModal" data-sys-id="{{ sys.id }}" data-sys-name="{{ sys.name }}">Eliminar</button>
                                        </li>
                                    {% endif %}
						        </ul>
					        </div>
				        </td>
			        </tr>
			    {% endfor %}
			</tbody>
		</table>

        {% if page_obj.has_other_pages %}
		    <nav>
			    <ul class="pagination">
				    {% if page_obj.has_previous %}
				        <li class="page-item">
					        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Anterior</a>
				        </li>
				    {% endif %}

				    {% for num in page_obj.paginator.page_range %}
				        {% if page_obj.number == num %}
				            <li class="page-item active">
					            <a href="#" class="page-link">{{ num }}</a>
				            </li>
				        {% else %}
				            <li class="page-item">
					            <a href="?page={{ num }}" class="page-link">{{ num }}</a>
				            </li>
				        {% endif %}
				    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a href="?page={{ page_obj.next_page_number }}" class="page-link">Siguiente</a>
                        </li>
                    {% endif %}
			    </ul>
		    </nav>
		{% endif %}

    <div class="modal fade" id="sysModal" tabindex="-1" aria-labelledby="sysModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sysModalLabel">Crear nuevo sistema</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table>
                            {{ sys_form.as_table }}
                        </table>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br>
    {% if consumibles %}
        <table class="table-list table-detail">
            <thead>
                <tr>
                    <th colspan="3">Lubricantes, Combustibles y filtros</th>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <th>Cantidad total utilizada</th>
                    <th>Cantidad en inventario</th>
                </tr>
            </thead>
            <tbody>
                {% for subsystem, items_with_quantities in items_by_subsystem.items %}
                    <tr>
                        <th colspan="3">{{ subsystem }}</th>
                    </tr>
                    {% for item, quantity, inventory, double_quantity in items_with_quantities %}
                        <tr>
                            <td>{{ item }}</td>
                            <td>{{ quantity }}</td>
                            <td {% if inventory < double_quantity %}style="color: red;"{% endif %}>
                                {{ inventory }}
                            </td>
                        </tr>
                    {% endfor %}
                {% empty %}
                    <tr>
                        <td colspan="3">No hay artículos disponibles.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

    <div class="info-asset">
            <table class="table-list">
                <thead>
                    <tr>
                        <th colspan="2" class="visible">Información general</th>
                    </tr>
                </thead>
                <tbody>
                    {% if asset.imagen %}
                        <tr>
                            <td colspan="2">
                                <img src="{{ asset.imagen.url }}" id="asset" />
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Supervisor</th>
                        <td data-cell="Supervisor">
                            {{asset.supervisor.get_full_name}}
                            ({{asset.supervisor.profile.cargo}})
                        </td>
                    </tr>
                    <tr>
                        <th>Área</th>
                        <td data-cell="Área">{{asset.get_area_display}}</td>
                    </tr>
                    {% if asset.area == 'a' %}
                        <tr>
                            <th colspan="2" class="info-special">Información especifica</th>
                        </tr>
                        <tr>
                            <th>Bandera</th>
                            <td data-cell="Bandera">{{asset.bandera}}</td>
                        </tr>
                        <tr>
                            <th>Eslora</th>
                            <td data-cell="Eslora">{{asset.eslora}} m</td>
                        </tr>
                        <tr>
                            <th>Manga</th>
                            <td data-cell="Manga">{{asset.manga}} m</td>
                        </tr>
                        <tr>
                            <th>Puntal</th>
                            <td data-cell="Puntal">{{asset.puntal}} m</td>
                        </tr>
                        <tr>
                            <th>Calado maximo</th>
                            <td data-cell="Calado maximo">{{asset.calado_maximo}}</td>
                        </tr>
                        <tr>
                            <th>Deadweight</th>
                            <td data-cell="Deadweight">{{asset.deadweight}}</td>
                        </tr>
                        <tr>
                            <th>Arqueo bruto</th>
                            <td data-cell="Arqueo bruto">{{asset.arqueo_bruto}}</td>
                    </tr>
                    <tr>
                        <th>Arqueo neto</th>
                        <td data-cell="Arqueo neto">{{asset.arqueo_neto}}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% if rotativos and asset.area == 'a' %} 
    {% include 'got/assets/graps.html' %}
{% endif %}


<!-- Modal Confirmación de Eliminación -->
<div class="modal fade" id="deleteSysModal" tabindex="-1" aria-labelledby="deleteSysModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteSysModalLabel">Eliminar Sistema</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar el sistema <strong id="modal-sys-name"></strong>? Esta acción no se puede deshacer.
                    <input type="hidden" name="sys_id" id="modal-sys-id">
                    <input type="hidden" name="action" value="delete_system">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var deleteSysModal = document.getElementById('deleteSysModal');
    deleteSysModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var sysId = button.getAttribute('data-sys-id');
        var sysName = button.getAttribute('data-sys-name');
    
        var modalSysIdInput = deleteSysModal.querySelector('#modal-sys-id');
        var modalSysName = deleteSysModal.querySelector('#modal-sys-name');
    
        modalSysIdInput.value = sysId;
        modalSysName.textContent = sysName;
    });
</script>    
{% endblock %}