{% extends "base/base_generic.html" %}
{% load asset_tags %}

{% block title %}{{ asset.name }}{% endblock %}
{% block headtag %}
{% include "got/assets/asset_detail_styles.html" %}
{% endblock %}

{% block content %}
<h1 class="mb-4">
    {% block back %}
        {% if perms.got.view_asset %}
            <a href="{% url 'got:asset-list' %}"><i class="bi bi-arrow-bar-left"></i></a>
        {% endif %}
    {% endblock %}
    {{ asset.name }} {% block subtitle %}{% endblock %}
</h1>

<ul class="nav submenu">
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'asset-detail' %}active{% endif %}" aria-current="page" href="{% url 'got:asset-detail' asset.abbreviation %}">
            Información General
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'asset-maintenance-plan' %}active{% endif %}" aria-current="page" href="{% url 'mto:asset-maintenance-plan' asset.abbreviation %}">
            Plan de Mantenimiento
        </a>
    </li>
</ul>
<ul class="nav submenu d-flex flex-wrap w-100 fs-9">
    {% if asset.abbreviation|has_engines %}
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'horas-asset' %}active{% endif %}" href="{% url 'got:horas-asset' asset.abbreviation %}">
                {% if asset.area == 'v' %} Reporte de kilometraje {% else %} Reporte de horas {% endif %}
            </a>
        </li>
	{% endif %}
	<li class="nav-item">
		{% if asset.area == 'v' %}
			<a class="nav-link {% if request.resolver_match.url_name == 'preoperacional-consolidado' %}active{% endif %}" href="{% url 'preoperacionales:preoperacional-consolidado' %}"> 
                Preoperacionales
            </a>
		{% else %}
			<a class="nav-link {% if request.resolver_match.url_name == 'asset-suministros' %}active{% endif %}" href="{% url 'inv:asset-suministros' asset.abbreviation %}">
                Reporte de Consumos
            </a>
		{% endif %}
	</li>
    <li class="nav-item">
        {% if asset.area == 'v' %}
            <a class="nav-link" href="{% url 'preoperacionales:salidas-consolidado' %}">Reportes de salida</a>
        {% else %}
            <a class="nav-link" href="{% url 'inv:asset_equipment_list' asset.abbreviation %}">Inventario</a>
        {% endif %}
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'got:failure-report-create' asset.abbreviation %}">Reportar falla</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'got:create-solicitud' asset.abbreviation %}">Solicitar
			materiales/servicios
        </a>
	</li>
    {% if perms.got.add_ot %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'got:ot-create' asset.abbreviation %}">Nueva orden de trabajo</a>
        </li>
	{% endif %} 
    <li class="nav-item">
        <a class="nav-link" href="{% url 'got:asset-documents' asset.abbreviation %}">
            Documentos
        </a>      
    </li>
</ul>

<br>
{% block asset %}{% endblock %}
{% endblock %}
