<style>
    #asset {
        width: 400px;
        height: 300px;
        object-fit: cover;
        display: block;
        margin: 0 auto; 
    }
    .main-asset {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 10px;
        grid-template-areas:
            "sistemas detail"
            "ruta acciones"
    }
    .main-asset .info-asset {grid-area: detail;}
    .main-asset .sistemas {grid-area: sistemas;}
    .main-asset .rutinas {grid-area: ruta;}
    .main-asset .acciones {grid-area: acciones;}

    /* asset_maintenance_plan */
    .filter-form {
        padding: 20px;
        color: #fff;
        border: 1px solid #ddd;
        border-radius: 16px;
        background-color: var(--color-primary);
        margin-right: 15px;
    }
    .submenu {
        background-color: var(--color-aux);
        min-height: 40px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-bottom: 1px solid var(--color-primary);
    }
    .submenu .nav-item:hover {
        background-color: var(--color-primary);
    }
    .submenu .nav-link {
        flex: 1 1 auto;
        display: flex;
        align-items: center; 
        justify-content: center;
        padding: 0.5rem;
    }
    .submenu .nav-item {
        flex: 1 1 auto;
        display: flex;
        position: relative;
    }
    .submenu .nav-link.active {
        color: var(--color-secondary);
        border-bottom: 3px solid var(--color-secondary);
        background-color: var(--color-primary);
    }
    @media (max-width: 767px) {
        .submenu .nav-item {
            width: 100%;
        }
        #asset {
            width: 340px;
        }   

        .main-asset {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            grid-template-areas:
                "sistemas"
                "detail"
                "ruta"
                "acciones"
        }
    }
</style>