<div class="grafica-container">
    {% if consumos_grafica|length > 0 %}
        <div class="grafica-consumos">
            <h2>Consumo de Combustible (últimos 30 días)</h2>
            <canvas id="consumoChart"></canvas>
        </div>
    {% endif %}
    
    {% if horas_grafica|length > 0 %}
        <div class="grafica-horas">
            <h2>Horas de Operación (últimos 30 días)</h2>
            <canvas id="horasChart"></canvas>
        </div>
    {% endif %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/10.2.0/decimal.min.js"></script>
<script>

	function convertirADecimal(datos) {
		return datos.map(function (dato) {
			return parseFloat(dato);
		});
	}

	{% if consumos_grafica|length > 0 %}
	var ctx = document.getElementById('consumoChart').getContext('2d');
	var consumoChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: {{ fechas|safe }},  // Eje X 
			datasets: [{
				label: 'Consumo de Combustible (Galones)',
				data: {{ consumos_grafica|safe }},  // Eje Y 
				borderColor: 'rgba(75, 192, 192, 1)',
				backgroundColor: 'rgba(75, 192, 192, 0.2)',
				fill: true,
				tension: 0.1,  // Para suavizar la línea
				pointRadius: 5,  // Tamaño de los puntos
				pointBackgroundColor: 'rgba(75, 192, 192, 1)',
				}]
			},
		options: {
			responsive: true,
			scales: {
				x: {
					title: {
						display: true,
						text: 'Fecha (Día/Mes)'
					}
				},
				y: {
					title: {
						display: true,
						text: 'Consumo (Galones)'
					},
					beginAtZero: true  // Comienza el eje Y desde 0
				}
			}
		}
  	});
	{% endif %}

	// Gráfica de horas de operación
	{% if horas_grafica|length > 0 %}
	var ctxHoras = document.getElementById('horasChart').getContext('2d');
	var horasChart = new Chart(ctxHoras, {
		type: 'line',
		data: {
			labels: {{ fechas|safe }},
			datasets: [{
				label: 'Horas de Operación',
				data: convertirADecimal({{ horas_grafica|safe }}),
				borderColor: 'rgba(153, 102, 255, 1)',
				backgroundColor: 'rgba(153, 102, 255, 0.2)',
				fill: true,
				tension: 0.1,
				pointRadius: 5,
				pointBackgroundColor: 'rgba(153, 102, 255, 1)',
          	}]
      	},
		options: {
			responsive: true,
			scales: {
				x: {
					title: {
						display: true,
						text: 'Fecha (Día/Mes)'
					}
				},
				y: {
					title: {
						display: true,
						text: 'Horas de Operación'
					},
					beginAtZero: true
				}
			}
		}
  	});
{% endif %}
</script>
