{% extends "got/base_generic.html" %}

{% block header %}
    Salidas de materiales 
{% endblock %}

{% block content %}

<aside>
    <div class="btn-group box-shadow" role="group">
        <a class="btn btn-primary" href="{% url 'got:create-salida' %}">Reportar salida</a>
    </div>
    <div class="btn-group box-shadow" role="group">
        <a class="btn btn-primary" href="{% url 'got:item_management' %}">Articulos</a>
    </div>
</aside>

<table class="table-list deta">
    <thead>
        <tr>
            <th scope="col">Salidas</th>
            <th scope="col" class="nowrap">Destino</th>
            <th scope="col">Responsable</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for rq in salida_list %}
            <tr>
                <td data-cell="Justificación">
                    <h6 id="{{ rq.id }}">
                        {{ rq.id }} - {{ rq.motivo }}
                    </h6>
                </td>
                <td data-cell="Destino" class="nowrap"><strong>{{ rq.destino }}</strong></td>
                <td data-cell="Responsable" class="nowrap">{{ rq.responsable }}/ {{ rq.recibe}}
                    <a class="dropdown-item" href="{% url 'got:salida-update' rq.id %}">Notificar</a>
                </td>
                <li></li>

                <td data-cell="Estado">
                    <div class="dropdown">
                        <button class="btn status {% if rq.auth %}finished{% elif not rq.sign_recibe %}exe{% else %}close{% endif %} btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if rq.auth %}Aprobado{% elif not rq.sign_recibe %}Por firmar{% else %}No aprobado{% endif %}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="{% url 'got:salida_pdf' rq.id %}">Ver detalle</a></li>
                            {% if not rq.auth %}
                                {% if perms.got.can_approve_it %}
                                    <li><a class="dropdown-item" href="{% url 'got:approve-salida' rq.id %}">Aprobar</a></li>
                                {% endif %}

                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>


            <tr>
                <td colspan="2">
                    {% if rq.adicional %}
                    {{ rq.adicional|linebreaks }} 
                    {% endif %}
                    <ul>
                        {% for suministro in rq.suministros.all %}
                            <li onclick="openModal{{ suministro.id }}()" style="cursor: pointer;">
                                {{ suministro.cantidad }} {{ suministro.item.presentacion }} {{ suministro.item.name }} {{ suministro.item.reference }} - {{ suministro.item.code }}
                            </li>
                            <div class="modal fade" id="itemModal{{ suministro.id }}" tabindex="-1" aria-labelledby="itemModalLabel{{ suministro.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="itemModalLabel{{ suministro.id }}">{{ suministro.item.name }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {% if suministro.item.imagen %}
                                                <img src="{{ suministro.item.imagen.url }}" alt="Imagen de {{ suministro.item.name }}" class="img-fluid">
                                            {% endif %}
                                            <p>Referencia: {{ suministro.item.reference }}</p>
                                            <p>Presentación: {{ suministro.item.presentacion }}</p>
                                            <p>Código: {{ suministro.item.code }}</p>
                                            <p>Sección: {{ suministro.item.get_seccion_display }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                function openModal{{ suministro.id }}() {
                                    new bootstrap.Modal(document.getElementById('itemModal{{ suministro.id }}')).show();
                                }
                            </script>
                        {% endfor %}
                    </ul>
                </td>
                <td colspan="2">
                    <strong>Fecha: {{ rq.fecha }}</strong>
                    <strong>Vehiculo: {{ rq.vehiculo }}</strong>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">No hay reportes de salida registradas.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}



