{# inventory_management/templates/inventory_management/asset_list.html #}
{% extends "got/base/base_generic.html" %}

{% block content %}
<div class="container mt-4" style="font-size:0.9rem;">
    <h2 class="mb-3">Inventario de Activos</h2>

    <div style="text-align: right; margin-bottom: 1rem;">
        <a href="{% url 'inventory_management:all_equipment_list' %}"
           class="btn btn-sm btn-outline-dark">
          Ver todos los Activos
        </a>
      </div>

    {# row-cols-xl-4 => max 4 columnas en pantallas grandes #}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">

        
        {% for asset in assets %}
            <div class="col">
                <!-- Card estilo Bootstrap -->
                <div class="card h-100" style="border:1px solid #ccc; cursor: pointer;"
                     onclick="window.location.href='{% url 'inventory_management:asset_equipment_list' asset.abbreviation %}'"
                     >
                    <div class="card-header bg-light">
                        {# Título un poco más grande, por ejemplo h5 #}
                        <h5 class="card-title mb-0" style="font-size:1.05rem; font-weight: 600;">
                            {{ asset.name }}
                        </h5>
                    </div>
                    <div class="card-body">
                        {# Supervisor #}
                        {% if asset.supervisor %}
                            <p class="card-text mb-1">
                                <strong>Supervisor:</strong><br>
                                {{ asset.supervisor.first_name }} {{ asset.supervisor.last_name }}
                            </p>
                        {% else %}
                            <p class="card-text mb-1 text-muted">
                                <strong>Supervisor:</strong><br>
                                No asignado
                            </p>
                        {% endif %}

                        {# Si es barco => capitán #}
                        {% if asset.area == 'a' %}
                            {% if asset.capitan %}
                                <p class="card-text mb-1">
                                    <strong>Capitán:</strong><br>
                                    {{ asset.capitan.first_name }} {{ asset.capitan.last_name }}
                                </p>
                            {% else %}
                                <p class="card-text mb-1 text-muted">
                                    <strong>Capitán:</strong><br>
                                    No asignado
                                </p>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
        {% empty %}
            <p>No hay activos disponibles.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
