<!-- templates/inventory_management/partial_equipment_table.html -->
<tbody>
    {% for eq in equipos %}
        <tr>
            <td class="equipo-name" style="white-space: nowrap;">{{ eq.name }}</td>
            <td>{{ eq.system }}</td>
            <td>{{ eq.get_tipo_display }}</td>
            <td>{{ eq.ubicacion|default_if_none:"--" }}</td>
            <td class="text-end">
                <!-- Acciones -->
                <a href="#" class="me-1 text-secondary ver-detalle-equipo" data-eq-id="{{ eq.pk }}" title="Ver Detalle">
                    <i class="fa-solid fa-eye"></i>
                </a>
                <a href="{% url 'got:equipo-update' eq.code %}?next={{ request.path }}" class="me-1 text-secondary" title="Modificar">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <a href="{% url 'inv:dar_baja' eq.code %}" class="me-1 text-danger" title="Dar de Baja">
                    <i class="fa-solid fa-trash"></i>
                </a>
                <a href="{% url 'got:transferir_equipo' eq.code %}" class="me-1 text-warning" title="Transferir">
                    <i class="fa-solid fa-right-left"></i>
                </a>
                <a href="#" class="ms-1 text-secondary" title="Mostrar QR" onclick="openQRInNewWindow('{{ eq.qr_code_url }}', '{{ eq.name|escapejs }}', '{{ eq.code|escapejs }}'); return false;">
                    <i class="fa-solid fa-qrcode"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
</tbody>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchEquiposInput = document.getElementById('searchEquiposInput');
        const equiposTable = document.getElementById('equiposTable');
        const equiposTbody = equiposTable.querySelector('tbody');
        const paginationContainer = document.querySelector('.pagination');

        searchEquiposInput.addEventListener('input', function() {
            const query = this.value.trim();

            fetch(`?search=${encodeURIComponent(query)}`)
                .then(response => response.json())
                .then(data => {
                    equiposTbody.innerHTML = data.html;
                    // Actualizar la paginación si es necesario
                })
                .catch(error => {
                    console.error('Error al filtrar equipos:', error);
                });
        });
    });
</script>
