      <tr id="details{{ forloop.counter }}" class="detail-row" style="display: none;">
                            <td colspan="7">
                          
                                <!-- operation_list.html -->
{% if operacion.requirement_set.exists %}
<div>
    {% with operacion.requirement_set.all|dictsort:"responsable" as requirements_ordered %}
        {% regroup requirements_ordered by responsable as grouped_requirements %}
        {% for group in grouped_requirements %}
            <h4>Responsable: {{ group.grouper|default:"No asignado" }}</h4>

            {% with group.list|dictsort:"approved" as requirements_by_approved %}
                {% regroup requirements_by_approved by approved as approved_groups %}
                {% for approved_group in approved_groups %}
                    <h5>
                        {% if approved_group.grouper %}
                            Requerimientos Completados
                        {% else %}
                            Requerimientos Pendientes
                        {% endif %}
                    </h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Detalle</th>
                                <th>Realizado</th>
                                <th>Novedad</th>
                                <th>Imágenes</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for requirement in approved_group.list %}
                                <tr>
                                    <td>{{ requirement.text|linebreaksbr }}</td>
                                    <td>{{ requirement.approved|yesno:"Sí,No" }}</td>
                                    <td>{{ requirement.novedad|default_if_none:"" }}</td>
                                    <td>
                                        {% if requirement.images.count > 0 %}
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#imagesModal{{ requirement.id }}" class="btn btn-primary">{{ requirement.images.count }}</a>
                                        {% else %}
                                            {{ requirement.images.count }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'got:requirement-update' requirement.id %}"><i class="bi bi-pencil"></i></a>
                                        {% if perms.got.can_create_requirement %}
                                            <a href="{% url 'got:requirement-delete' requirement.id %}"><i class="bi bi-trash"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
<!-- Modal para imágenes y PDFs -->
<div class="modal fade" id="imagesModal{{ requirement.id }}" tabindex="-1" aria-labelledby="imagesModalLabel{{ requirement.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg"> <!-- Puedes ajustar el tamaño del modal -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Archivos para el requerimiento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% for image in requirement.images.all %}
                        {% if image.image.url|lower|endswith:".pdf" %}
                            <!-- Si es un PDF, mostrar un enlace o un iframe -->
                            <div class="col-md-12 mb-3">
                                <embed src="{{ image.image.url }}" type="application/pdf" width="100%" height="600px" />
                                <!-- O simplemente proporcionar un enlace de descarga -->
                                <!-- <a href="{{ image.image.url }}" target="_blank">Ver PDF</a> -->
                            </div>
                        {% elif image.image.url|lower|endswith:".jpg" or image.image.url|lower|endswith:".jpeg" or image.image.url|lower|endswith:".png" or image.image.url|lower|endswith:".gif" %}
                            <!-- Si es una imagen, mostrarla -->
                            <div class="col-md-4 mb-3">
                                <img src="{{ image.image.url }}" alt="Imagen" class="img-fluid">
                            </div>
                        {% else %}
                            <!-- Otros tipos de archivos -->
                            <div class="col-md-12 mb-3">
                                <p>Archivo: <a href="{{ image.image.url }}" target="_blank">{{ image.image.url|basename }}</a></p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

                                

                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            {% endwith %}
        {% endfor %}
    {% endwith %}
</div>
{% else %}
<p>No hay requerimientos registrados para esta operación.</p>
{% endif %}





                    
                            </td>
                        </tr>
                        <!-- Modal para añadir requerimiento -->
                        <div class="modal fade" id="addRequirementModal{{ operacion.id }}" tabindex="-1" aria-labelledby="addRequirementModalLabel{{ operacion.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="post" action="{% url 'got:requirement-create' operacion.id %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <h5 class="modal-title">Nuevo Requerimiento para {{ operacion.proyecto }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- RequirementForm fields -->
                                            <div class="form-group">
                                                <label for="text">Detalle del Requerimiento</label>
                                                <textarea name="text" class="form-control" required></textarea>
                                            </div>
                                            <!-- operation_list.html -->
<!-- Dentro del modal para añadir requerimiento -->
<div class="form-group">
    <label for="responsable">Responsable</label>
    <input type="text" name="responsable" class="form-control" required>
</div>

                                            <!-- UploadImages form fields -->
                                            <div class="form-group">
                                                <label for="file_field">Imagenes de referencia/Evidencias</label>
                                                <input type="file" name="file_field" class="form-control" multiple>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary">Guardar Requerimiento</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}