{% extends "got/base/base_generic.html" %}
{% load my_tags %}

{% block headtag %}
<style>
	.chartMenu p {
		padding: 10px;
		font-size: 20px;
	}
	.chartCard {
		width: 100vw;
		height: calc(100vh - 40px);
		/* background: rgba(54, 162, 235, 0.2); */
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.chartBox {
		width: 100%;
		padding: 0px;
		border-radius: 20px;
		background: white;
        overflow-x: auto;
        min-width: 1200px;
	}

    .wrapper {
		width: min(900px, 100% - 3rem);
		margin-inline: auto;
	}

    .image-gallery img {
        margin: 5px;
        cursor: pointer;
    }

    .table-list tbody tr:hover td {
        color: black;
    }

</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}


{% block content %}
    <h1 id="chartTitle"></h1>


    <div class="chartBox rounded shadow">
        <br>
        <div style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
            <input type="month" onchange="chartFilter(this)" />
            <!-- <button class="badge rounded-pill text-bg-secondary" data-bs-toggle="modal" data-bs-target="#addOperationModal">Añadir Operación</button> -->
        </div>        
        <br>
        <br>
        <canvas id="myChart"></canvas>
        <br>
        <hr>
        <br>
    </div>

    <section class="mt-2">
        <!-------------------------------------------- Actividades ------------------------------------------------------------>

        <div class="operation-filters mb-3">
            {% if show_past %}
                <a href="{% url 'ope:operation-list' %}" class="btn btn-primary">Ver Operaciones Actuales</a>
            {% else %}
                <a href="?show_past=true" class="btn btn-primary">Ver Operaciones Anteriores</a>
            {% endif %}
        </div>


        <table class="table-list table-detail no-hover">
            <thead>
                <tr>
                    <th colspan="7">
                        Operaciones
                        <button class="badge rounded-pill text-bg-secondary" data-bs-toggle="modal" data-bs-target="#addOperationModal">Añadir Operación</button>
                    </th>
                </tr>
                <tr>
                    <th>Proyecto</th>
                    <th>Equipo</th>
                    <th>Fecha inicio</th>
                    <th>Fecha de finalización</th>
                    <th>Requerimientos</th>
                    <th>Avance</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                    {% for operacion in operaciones %}
                        <tr id="row{{ forloop.counter }}" onclick="toggleDetails('details{{ forloop.counter }}', this, event)">
                            <td>{{ operacion.proyecto }}{% if not operacion.confirmado %}(Tentativa){% endif %}</td>
                            <td>{{ operacion.asset }}</td>
                            <td>{{ operacion.start|date:"d/m/Y" }}</td>
                            <td>{{ operacion.end|date:"d/m/Y" }}</td>
                            <td>{{ operacion.requirement_set.count }}</td>
                            <td>
                                {% if operacion.requirements_progress is not None %}
                                    {{ operacion.requirements_progress }}%
                                {% else %}
                                    <!-- No mostramos nada -->
                                {% endif %}
                            </td>
                            
                            <td>
                                <a href="{% url 'ope:operation-update' operacion.id %}"><i class="bi bi-pen"></i></a>
                                <a href="{% url 'ope:operation-delete' operacion.id %}"><i class="bi bi-file-earmark-minus-fill"></i></a>
                                <button class="btn btn-sm btn-link" data-bs-toggle="modal" data-bs-target="#addRequirementModal{{ operacion.id }}">Añadir Requerimiento</button>
                            </td>
                        </tr>
                  
                {% endfor %}
            </tbody>
        </table>

        <!-- Al final de la tabla de operaciones -->

        <!-- Paginación -->
        <div class="pagination">
            <span class="step-links">
                {% if operaciones.has_previous %}
                    <a href="?page=1">&laquo; primera</a>
                    <a href="?page={{ operaciones.previous_page_number }}">anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ operaciones.number }} de {{ operaciones.paginator.num_pages }}.
                </span>

                {% if operaciones.has_next %}
                    <a href="?page={{ operaciones.next_page_number }}">siguiente</a>
                    <a href="?page={{ operaciones.paginator.num_pages }}">última &raquo;</a>
                {% endif %}
            </span>
        </div>

    </section>

    <!-- Modal -->
    <div class="modal fade" id="addOperationModal" tabindex="-1" aria-labelledby="addOperationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addOperationModalLabel">Nueva Operación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-group" style="margin: 15px">
                        {{ operation_form }}
                    </div>
                    <div class="form-group" style="margin: 10px">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar Operación</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if modal_open %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var myModal = new bootstrap.Modal(document.getElementById('addOperationModal'), {
                backdrop: 'static'  // Opcional: para hacer el fondo estático
            });
            myModal.show();

            // Opcional: Reajuste para asegurar que el botón puede abrir el modal después de cerrarlo
            document.querySelector('[data-bs-target="#addOperationModal"]').addEventListener('click', function () {
                myModal.show();
            });
        });
    </script>
    {% endif %}




    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

    <script type="text/javascript">
        function toggleDetails(detailId, trigger, event) {
            if (event.target.closest('.dropdown') || event.target.closest('.dropdown-toggle') || event.target.closest('.btn')) {
                return;
            }
            var detailRow = document.getElementById(detailId);
            detailRow.style.display = (detailRow.style.display === 'none' || detailRow.style.display === '') ? 'table-row' : 'none';
            trigger.style.fontWeight = (detailRow.style.display === 'none') ? 'normal' : 'bold';
        }

        function getFirstAndLastDayOfCurrentMonth() {
            const today = new Date();
            const firstDay = new Date(today.getFullYear(), today.getMonth(), 1).toISOString().split('T')[0];
            const lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0).toISOString().split('T')[0];
            return [firstDay, lastDay];
        }

        function getMonthName(year, month) {
            const date = new Date(year, month - 1);
            return date.toLocaleString('default', { month: 'long' });
        }

        function updateChartTitle(year, month) {
            const monthName = getMonthName(year, month);
            document.getElementById('chartTitle').innerText = `Proyectos de ${monthName} ${year}`;
        }

        const [firstDay, lastDay] = getFirstAndLastDayOfCurrentMonth();
        const currentYear = new Date().getFullYear();
        const currentMonth = new Date().getMonth() + 1;

        updateChartTitle(currentYear, currentMonth);

        const backgroundColors = [];
        const borderColors = [];
        const dataPoints = [];

        {% for item in operations_data %}
            {% for operation in item.operations %}
                dataPoints.push({
                    x: ['{{ operation.start|date:"Y-m-d" }}', '{{ operation.end|date:"Y-m-d" }}'],
                    y: '{{ item.asset.name|escapejs }}',
                    proyecto: '{{ operation.proyecto|escapejs }}',
                    requirements: '{{ operation.requirements|escapejs }}',
                });

                // Determinar el color según si es tentativa o no
                {% if not operation.confirmado %}
                    backgroundColors.push('rgba(255, 205, 86, 0.6)');  // Amarillo
                    borderColors.push('rgba(255, 205, 86, 1)');
                {% else %}
                    backgroundColors.push('rgba(54, 162, 235, 0.2)');  // Azul
                    borderColors.push('rgba(54, 162, 235, 1)');
                {% endif %}
            {% endfor %}
            {% if not item.operations %}
                dataPoints.push({
                    x: [null, null],
                    y: '{{ item.asset.name }}',
                });
                backgroundColors.push('rgba(255, 255, 255, 0)');
                borderColors.push('rgba(255, 255, 255, 0)');
            {% endif %}
        {% endfor %}


        const data = {
            datasets: [{
                label: 'Cronograma de proyectos',
                data: dataPoints,
                backgroundColor: backgroundColors,
                borderColor: borderColors,
                borderWidth: 1,
                borderSkipped: false,
                borderRadius: 15,
                barPercentage: 0.5,
            }]
        }

        console.log(data);



        const todayLine = {
            id: 'todayLine',
            afterDatasetsDraw(chart, arg, pluginOptions) {
                const {ctx, data, chartArea: {top, bottom, left, right }, scales: {x, y} } = chart;
                ctx.save();

                if(x.getPixelForValue(new Date()) >= left && x.getPixelForValue(new Date()) <= right) {

                    ctx.beginPath();
                    ctx.lineWidth = 3;
                    ctx.strokeStyle = 'rgba(102, 102, 10, 1)';
                    ctx.setLineDash([6, 6]);
                    ctx.moveTo(x.getPixelForValue(new Date()), top);
                    ctx.lineTo(x.getPixelForValue(new Date()), bottom);
                    ctx.stroke();
                    ctx.restore();

                    ctx.setLineDash([]);

                    ctx.beginPath();
                    ctx.lineWidth = 1;
                    ctx.strokeStyle = 'rgba(102, 102, 102, 1)';
                    ctx.fillStyle = 'rgba(102, 102, 102, 1)';
                    ctx.moveTo(x.getPixelForValue(new Date()), top + 3);
                    ctx.lineTo(x.getPixelForValue(new Date()) - 8, top - 8);
                    ctx.lineTo(x.getPixelForValue(new Date()) + 8, top - 8);
                    ctx.closePath();
                    ctx.stroke();
                    ctx.fill();
                    ctx.restore();

                    ctx.font = 'bold 16px sans-serif';
                    ctx.fillStyle = 'rgba(102, 102, 102, 1)';
                    ctx.textAlign = 'center';
                    ctx.fillText('Hoy', x.getPixelForValue(new Date()), bottom + 20);
                    ctx.restore();
                }     
            }
        }

        const weekend = {
            id: 'weekend',
            beforeDatasetsDraw(chart, args, pluginOptions) {
                const {ctx, chartArea: {top, bottom, left, right, width, height }, scales: {x, y}} = chart;
                ctx.save();

                x.ticks.forEach((tick, index) => {
                    const day = new Date(tick.value).getDay();
                    if(day === 6 || day === 0) {
                        ctx.fillStyle = 'rgba(102, 102, 102, 0.2)';
                        ctx.fillRect(x.getPixelForValue(tick.value), top, x.getPixelForValue(new Date(tick.value).setHours(24)) - x.getPixelForValue(tick.value), height);
                    }
                })
            }
        }

        // config 
        const config = {
            type: 'bar',
            data,
            options: {
                responsive: true,
                indexAxis: 'y',
                layout: {
                    padding: {
                        left: 50,
                        right: 100,
                        bottom: 30
                    },
                },
                scales: {
                    x: {
                        display: true,
                        position: 'top',
                        type: 'time',
                        time: {
                            displayFormats: {
                                day: 'd'
                            }
                        },
                        min: firstDay,
                        max: lastDay,
                        padding: {top: 20, left: 0, right: 0, bottom: 0}
                    },
                    y: {
                        display: true,
                        position: 'left',
                        ticks: {
                            font: {
                                size: 16,  
                                weight: 'bold', 
                            }
                        }
                    },
                },
                
                plugins: {
                    tooltip: {
                        enabled: true,
                        callbacks: {
                            title: function(tooltipItems, data) {
                                return tooltipItems[0].raw.activityDescription;
                            },
                            label: function(context) {
                                var dataPoint = context.raw;
                                return [
                                    `Responsable: ${dataPoint.proyecto}`,
                                    `Fecha inicio: ${dataPoint.x[0]}`,
                                    `Fecha fin: ${dataPoint.x[1]}`,
                                ];
                            }
                        }
                    },
                    legend: {
                        display: false
                    },
                },

            },
            plugins: [
                todayLine, weekend,
            ]
        };

        const myChart = new Chart(
        document.getElementById('myChart'),
        config
        );

        const chartVersion = document.getElementById('chartVersion');
        chartVersion.innerText = Chart.version;

        function chartFilter(date) {
            const year = date.value.substring(0, 4);
            const month = date.value.substring(5, 7);
            const lastDay = (y, m) => {
                return new Date(y, m, 0).getDate();
            }

            const startDate = `${year}-${month}-01`;
            const endDate = `${year}-${month}-${lastDay(year, month)}`;

            updateChartTitle(year, month);

            myChart.config.options.scales.x.min = startDate;
            myChart.config.options.scales.x.max = endDate;
            myChart.update();
        }
    </script>

{% endblock %}