<!-- templates/got/requirements/requirement_confirm_delete.html -->

{% extends "got/base/base_generic.html" %}

{% block content %}
<div class="container">
    <h2>Eliminar Requerimiento</h2>
    <p>¿Estás seguro de que deseas eliminar este requerimiento?</p>
    <p><strong>{{ requirement.text }}</strong></p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'got:operation-list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
